<!DOCTYPE html>
<html>
<head>
    <title>宙斯云盘-文件元信息数据管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/uikit.min.css" />
    <script src="../js/uikit.min.js"></script>
    <script src="../js/uikit-icons.min.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .header{
            width: 100%;
            height: 15%;
            background-color: #f8f8f8;
            border-bottom: 1px solid #96c2f1;
        }
        #warp{
            height: 85%;
            width: 100%;
            display: flex;
        }
        .lefter{
            width: 10%;
            background-color: #f8f8f8;
            border-right: 1px solid #96c2f1;
        }
        .righter{
            width: 100%;
            float: left;
            background-color: #f8f8f8;
        }
        .logo{
            height: 100%;
        }
    </style>
</head>
<body>

<!--头部logo以及标题div-->
<nav class="uk-navbar-container uk-margin header" uk-navbar style="margin-bottom: 0px;background-color: #f8f8f8;">
    <div class="uk-navbar-left">
        <img class="logo" src="http://img.mp.itc.cn/upload/20170724/cf678e09eb384401aa616ba134126357_th.jpg">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                    文件元信息数据管理
                </a>
            </li>
        </ul>
        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-large" disabled type="text" placeholder="文件元信息数据管理--高权限管理">
                <button class="uk-button uk-button-primary" uk-toggle="target: #offcanvas-searchOper">查找文件元信息操作记录</button>
            </form>
        </div><br>
        <button class="uk-button uk-button-primary" uk-toggle="target: #offcanvas-push" style="float: right;margin-right: 30px;">更多操作</button>

        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="../img/avatar.jpeg">
                </div>
                <div class="uk-width-expand">
                    <h3 id="adminname1" class="uk-card-title uk-margin-remove-bottom"></h3>
                    <p class="uk-text-meta uk-margin-remove-top"><span class="uk-label uk-label-danger">管理员</span></p>
                </div>
            </div>
        </div>

    </div>
</nav>

<!-- 查找指定操作记录选择抽屉 -->
<div id="offcanvas-searchOper" uk-offcanvas="mode: reveal; overlay: true;flip: true">
    <div class="uk-offcanvas-bar">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <h3>查找操作记录</h3>
        <button class="uk-button uk-button-primary" href="#modal-GetFileMetaByFile" uk-toggle>查找指定文件操作记录</button><br><br>
        <button class="uk-button uk-button-primary" href="#modal-GetFileMetaByName" uk-toggle>查找指定用户操作记录</button><br><br>
        <button class="uk-button uk-button-primary" href="#modal-GetFileMetaByTime" uk-toggle>查找指定时间段操作记录</button><br><br>
        <button class="uk-button uk-button-primary" href="#modal-GetFileMetaByType" uk-toggle>查找指定操作类型操作记录</button><br><br>
    </div>
</div>

<!--更多操作抽屉 -->
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>更多操作</h3>

        <div class="uk-width-expand">
            <h3 id="adminname2" class="uk-card-title uk-margin-remove-bottom">文琪-ADMIIN</h3>
            <p class="uk-text-meta uk-margin-remove-top"><span class="uk-label uk-label-danger">管理员</span></p>
        </div>
        <button class="uk-button uk-button-primary"onclick="toFileMan()">文件管理</button>
        <br> <br>
        <button class="uk-button uk-button-primary" onclick="toUserMan()">用户管理</button>
        <br> <br>
        <button class="uk-button uk-button-primary" onclick="toIndex()">退出登录</button>
    </div>
</div>

<!--下载提示模态框-->
<div id="modal-download" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <p id="downloadAction">文件即将下载自......</p>
    </div>
</div>

<!--删除确认模态框-->
<div id="modal-delete" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <P>确认删除吗？</P>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button id="deleteActionButton" class="uk-button uk-button-primary " type="button">确定</button>
        </p>
    </div>
</div>

<div id="warp">
    <div class="righter">
        <table id="filetbl" class="uk-table uk-table-hover uk-table-divider">
            <thead>
            <tr id="tbHead">
                <th>文件名</th>
                <th>文件Hash值</th>
                <th>文件所属用户</th>
                <th>文件元信息操作</th>
            </tr>
            </thead>
        </table>

        <!--修改文件元信息选择模态框-->
        <div id="modal-SetFileMeta" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <P>请输入要修改的文件元信息【没有的将新增】</P>
                <input id="MetaKey" class="uk-input" type="text"><br>
                <input id="MetaValue" class="uk-input" type="text">
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
                    <button id="SetFileMetaActionButton" class="uk-button uk-button-primary" type="button">确定</button>
                </p>
            </div>
        </div>
        <span style="float: right;margin-right: 50px;">
            <a id = "pre_page">上一页</a>
            <span>
                <span id = "current_page">1</span>
                <span>/</span>
                <span id = "total_page"></span>
            </span>
            <a id = "next_page">下一页</a>
        </span>
    </div>
</div>


<!--查找指定操作类型的文件元信息操作记录模态框-->
<div id="modal-GetFileMetaByType" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <P>请输入要查找的操作类型代号</P>
        <P>10是查看文件元信息的操作，11是修改文件元信息的操作</P>
        <input id="operationTypeId" class="uk-input" type="text">
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary" type="button" onclick="GetFileMetaByType()">确定</button>
        </p>
    </div>
</div>

<!--查找指定HASH的文件元信息操作记录模态框-->
<div id="modal-GetFileMetaByFile" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <P>请输入要查找的文件HASH值</P>
        <input id="FileHash" class="uk-input" type="text">
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary" type="button" onclick="GetFileMetaByFile()">确定</button>
        </p>
    </div>
</div>

<!--查找指定时间段文件元信息操作记录模态框-->
<div id="modal-GetFileMetaByTime" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <P>请选择要查找的时间段</P>
        <form id="TimeForm">
        <input id="StartTime" type="datetime-local" value="2020-05-15T00:00:00"/>
        <span>——</span>
        <input id="EndTime" type="datetime-local" value="2020-05-16T00:00:00"/>
        </form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary" type="button" onclick="GetFileMetaByTime()">确定</button>
        </p>
    </div>
</div>

<!--查找指定管理员做的文件元信息操作记录模态框-->
<div id="modal-GetFileMetaByName" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <P>请输入指定的管理员名称</P>
        <input id="AdminName" class="uk-input" type="text">
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button class="uk-button uk-button-primary" type="button" onclick="GetFileMetaByName()">确定</button>
        </p>
    </div>
</div>


<!-- 文件元信息数据查看模态框 -->
<div id="modal-ShowFileMeta" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <p id="Accept-Ranges"></p><hr>
        <p id="Connection"></p><hr>
        <p id="Content-Length"></p><hr>
        <p id="Content-Md5"></p><hr>
        <p id="Content-Type"></P><hr>
        <p id="Date"></p><hr>
        <p id="Etag"></p><hr>
        <p id="Last-Modified"></p><hr>
        <p id="Server"></p><hr>
        <p id="X-Oss-Hash-Crc64ecma"></p><hr>
        <p id="X-Oss-Object-Type"></p><hr>
        <p id="X-Oss-Request-Id"></p><hr>
        <p id="X-Oss-Server-Time"></p><hr>
        <p id="X-Oss-Storage-Class"></p>
    </div>
</div>


<!-- 文件操作记录查看模态框 -->
<div id="modal-OperData_show" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" uk-height-viewport style="width: 100%">
                <br>
                <h2 style="text-align: center;">操作记录如下</h2>
                <hr class="uk-divider-icon">
                <div style="text-align: center" id="OperData_show">
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script lang="javascript">

    // 指定文件查找操作记录
    function GetFileMetaByFile() {
        // 清空显示
        $('#OperData_show').empty()

        $.ajax({
            url: "/filebackend/getoperationsbyfile?" + queryParams(),
            type: "POST",
            data: {
                filehash: $('#FileHash').val(),
            },
            error: function (error) {
                alert(error)
            },
            success: function (response) {
                if (response.code == -1){
                    UIkit.notification({message: response.msg, status: 'danger'})
                }else {
                    response = JSON.parse(response)
                    if (response.data == null){
                        UIkit.notification({message: "没有相应的操作记录！<br>请确定查找条件正确！", status: 'danger'})
                        return false
                    }else{
                        for (var i = 0;i<response.data.length;i++){
                            var OperationTime = new Date(response.data[i].OperationTime);
                            $('#OperData_show').append(formatDate(OperationTime)+"&nbsp;&nbsp;"+response.data[i].Detail+"<br><hr>")
                        }
                        console.log(response)
                        UIkit.modal($('#modal-OperData_show')).show();
                    }
                }
            }
        })
    }

    // 指定操作类型查找操作记录
    function GetFileMetaByType() {
        // 清空显示
        $('#OperData_show').empty()

        $.ajax({
            url: "/filebackend/getoperationsbytype?" + queryParams(),
            type: "POST",
            data: {
                operationid: $('#operationTypeId').val(),
            },
            error: function (error) {
                alert(error)
            },
            success: function (response) {
                if (response.code == -1){
                    UIkit.notification({message: response.msg, status: 'danger'})
                }else {
                    response = JSON.parse(response)
                    if (response.data == null){
                        UIkit.notification({message: "没有相应的操作记录！<br>请确定查找条件正确！", status: 'danger'})
                        return false
                    }else{
                        for (var i = 0;i<response.data.length;i++){
                            var OperationTime = new Date(response.data[i].OperationTime);
                            $('#OperData_show').append(formatDate(OperationTime)+"&nbsp;&nbsp;"+response.data[i].Detail+"<br><hr>")
                        }
                        console.log(response)
                        UIkit.modal($('#modal-OperData_show')).show();
                    }
                }
            }
        })
    }
    
    // 根据指定时间段获取文件元数据信息操作记录
    function GetFileMetaByTime() {
        // 清空显示
        $('#OperData_show').empty()
        var StartTime = new Date($('#StartTime').val())
        var EndTime = new Date($('#EndTime').val())
        $.ajax({
            url: "/filebackend/getoperationsbytime?" + queryParams(),
            type: "POST",
            data: {
                start: formatDate(StartTime),
                end: formatDate(EndTime),
            },
            error: function (error) {
                alert(error)
            },
            success: function (response) {
                if (response.code == -1){
                    UIkit.notification({message: response.msg, status: 'danger'})
                }else {
                    response = JSON.parse(response)
                    if (response.data == null){
                        UIkit.notification({message: "没有相应的操作记录！<br>请确定查找条件正确！", status: 'danger'})
                        return false
                    }else{
                        for (var i = 0;i<response.data.length;i++){
                            var OperationTime = new Date(response.data[i].OperationTime);
                            $('#OperData_show').append(formatDate(OperationTime)+"&nbsp;&nbsp;"+response.data[i].Detail+"<br><hr>")
                        }
                        console.log(response)
                        UIkit.modal($('#modal-OperData_show')).show();
                    }
                }
            }
        })
    }

    // 查询指定管理员做的操作记录
    function GetFileMetaByName() {
        // 清空显示
        $('#OperData_show').empty()

        $.ajax({
            url: "/filebackend/getoperationsbyuser?" + queryParams(),
            type: "POST",
            data: {
                checkusername: $('#AdminName').val(),
            },
            error: function (error) {
                alert(error)
            },
            success: function (response) {
                if (response.code == -1){
                    UIkit.notification({message: response.msg, status: 'danger'})
                }else {
                    response = JSON.parse(response)
                    if (response.data == null){
                        UIkit.notification({message: "没有相应的操作记录！<br>请确定查找条件正确！", status: 'danger'})
                        return false
                    }else{
                        for (var i = 0;i<response.data.length;i++){
                            var OperationTime = new Date(response.data[i].OperationTime);
                            $('#OperData_show').append(formatDate(OperationTime)+"&nbsp;&nbsp;"+response.data[i].Detail+"<br><hr>")
                        }
                        console.log(response)
                        UIkit.modal($('#modal-OperData_show')).show();
                    }
                }
            }
        })
    }

    function toIndex() {
        // window.location.href = '/file/upload?' + queryParams();
        sessionStorage.clear();
        localStorage.clear();
        window.location.href = "/static/view/signin.html";
    }

    //跳转去文件本体管理页面
    function toFileMan() {
        alert("即将唤起文件内容管理页面...")
        window.open ("http://localhost:9090/static/view/FileAdmin.html");
    }


    //跳转去用户管理页面
    function toUserMan() {
        UIkit.notification({message: '即将跳转至用户管理页面...！', status: 'success'})
        setTimeout(function(){
            window.location.href = "http://localhost:9090/static/view/admin.html";
        }, 1500);
    }

    window.onload = function () {

        var username = document.getElementById('username');
        $.ajax({
            url: "/user/info?" + queryParams(),
            type: "POST",
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus == "error") {
                    if (errorThrown == "Forbidden")
                        UIkit.notification({message: '登录失效！请重新登录网站！', status: 'danger'})
                    setTimeout(function(){
                        window.location.href = "/static/view/signin.html";
                    }, 1000);
                } else {
                    UIkit.notification({message: textStatus, status: 'danger'})
                }
            },
            success: function (body, textStatus, jqXHR) {
                var resp = JSON.parse(body);
                document.getElementById("adminname1").innerHTML = resp.data.Username;
                document.getElementById("adminname2").innerHTML = resp.data.Username;
                updateFileList(resp.all_files);
            }
        });
    }

    /**
     *前端页面的时间格式化函数
     */
    function checkTime(i){
        if (i<10){
            i="0" + i
        }
        return i;
    }

    function formatDate(date) {
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var weekday = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();

        return (year + "-" + checkTime(month) + "-" + checkTime(weekday)+" "+checkTime(hours)+":"+
            checkTime(minutes)+":"+checkTime(seconds));
    }

    // 根据文件名从oss获取文件元信息
    function GetFileMetaFromOSS(objectname){

        // 模态框内装载数据前清空模态框
        $('#Accept-Ranges').empty()
        $('#Connection').empty()
        $('#Content-Length').empty()
        $('#Content-Md5').empty()
        $('#Content-Type').empty()
        $('#Date').empty()
        $('#Etag').empty()
        $('#Last-Modified').empty()
        $('#Server').empty()
        $('#X-Oss-Hash-Crc64ecma').empty()
        $('#X-Oss-Object-Type').empty()
        $('#X-Oss-Request-Id').empty()
        $('#X-Oss-Server-Time').empty()
        $('#X-Oss-Storage-Class').empty()

        $.ajax({
            url:"/filebackend/getobjectmeta?"+ queryParams(),
            type:"POST",
            data:{
                objectname:objectname
            },
            error:function (error) {
                alert(error)
            },
            success:function (response) {
                response = JSON.parse(response)
                console.log(response)
                // 装载当前文件元信息数据
                $('#Accept-Ranges').html('Accept-Ranges:&nbsp;<strong>'+JSON.parse(response.data)['Accept-Ranges']+'</strong>')
                $('#Connection').html('Connection:&nbsp;<strong>'+JSON.parse(response.data)['Connection']+'</strong>')
                $('#Content-Length').html('Content-Length:&nbsp;<strong>'+JSON.parse(response.data)['Content-Length']+'</strong>')
                $('#Content-Md5').html('Content-Md5:&nbsp;<strong>'+JSON.parse(response.data)['Content-Md5']+'</strong>')
                $('#Content-Type').html('Content-Type:&nbsp;<strong>'+JSON.parse(response.data)['Content-Type'][0]+'</strong>')
                $('#Date').html('Date:&nbsp;<strong>'+JSON.parse(response.data)['Date']+'</strong>')
                $('#Etag').html('Etag:&nbsp;<strong>'+JSON.parse(response.data)['Etag']+'</strong>')
                $('#Last-Modified').html('Last-Modified:&nbsp;<strong>'+JSON.parse(response.data)['Last-Modified']+'</strong>')
                $('#Server').html('Server:&nbsp;<strong>'+JSON.parse(response.data)['Server']+'</strong>')
                $('#X-Oss-Hash-Crc64ecma').html('X-Oss-Hash-Crc64ecma:&nbsp;<strong>'+JSON.parse(response.data)['X-Oss-Hash-Crc64ecma']+'</strong>')
                $('#X-Oss-Object-Type').html('X-Oss-Object-Type:&nbsp;<strong>'+JSON.parse(response.data)['X-Oss-Object-Type']+'</strong>')
                $('#X-Oss-Request-Id').html('X-Oss-Request-Id:&nbsp;<strong>'+JSON.parse(response.data)['X-Oss-Request-Id']+'</strong>')
                $('#X-Oss-Server-Time').html('X-Oss-Server-Time:&nbsp;<strong>'+JSON.parse(response.data)['X-Oss-Server-Time']+'</strong>')
                $('#X-Oss-Storage-Class').html('X-Oss-Storage-Class:&nbsp;<strong>'+JSON.parse(response.data)['X-Oss-Storage-Class']+'</strong>')

                // 显示模态框
                UIkit.modal($('#modal-ShowFileMeta')).show();
            }
        })
    }

    // 修改文件元信息
    function SetFileMetaToOSS(objectname) {
        $('#MetaKey').empty()
        $('#MetaValue').empty()
        UIkit.modal($('#modal-SetFileMeta')).show();

        $('#SetFileMetaActionButton').unbind('click').click(function () {
            $.ajax({
                url:"/filebackend/updateobjectmeta?"+ queryParams(),
                type:"POST",
                data:{
                    metakey:$('#MetaKey').val(),
                    metavalue:$('#MetaValue').val(),
                    objectname:objectname
                },
                error:function (error) {
                    alert(error)
                },
                success:function (response) {
                    $('#MetaKey').empty()
                    $('#MetaValue').empty()
                    UIkit.modal($('#modal-SetFileMeta')).hide();
                    response = JSON.parse(response)
                    if (response.code == -1){
                        UIkit.notification({message: response.msg, status: 'danger'})
                    }else {
                        UIkit.notification({message: '文件元信息修改成功', status: 'success'})
                    }
                }
            })
        })
    }

    // 根据文件名和用户名获取该文件的元信息操作记录
    function GetFileMetaOpertion(filehash,checkusername) {

        $('#OperData_show').empty()

        $.ajax({
            url: "/filebackend/getoperationsbyfile?" + queryParams(),
            type: "POST",
            data: {
                filehash: filehash,
                checkusername:checkusername,
            },
            error: function (error) {
                alert(error)
            },
            success: function (response) {
                if (response.code == -1){
                    UIkit.notification({message: response.msg, status: 'danger'})
                }else {
                    response = JSON.parse(response)
                    if (response.data == null){
                        UIkit.notification({message: '该文件暂时没有操作记录！', status: 'danger'})
                        return false
                    }else {
                        for (var i = 0;i<response.data.length;i++){
                            var OperationTime = new Date(response.data[i].OperationTime);
                            $('#OperData_show').append(formatDate(OperationTime)+"&nbsp;&nbsp;"+response.data[i].Detail+"<br><hr>")
                        }
                        console.log(response)
                        UIkit.modal($('#modal-OperData_show')).show();
                    }
                }
            }
        })
    }

    // 获取所有文件元信息
    function updateFileList(all_files) {
        console.log(all_files)

        // 填充文件名数据
        for (var i = 0; i < all_files.length; i++) {
            var x = document.getElementById('filetbl').insertRow();
            var cell = x.insertCell();
            cell.innerHTML = all_files[i].FileName;

            var cell = x.insertCell();
            cell.innerHTML = all_files[i].FileSha1;

            var cell = x.insertCell();
            cell.innerHTML = all_files[i].UserName;

            // var dlHost = 'http://localhost:9090';
            // var dlEntry = localStorage.getItem('downloadEntry');
            // if (dlEntry != null) {
            //     if (dlEntry.indexOf('http:')<0) {
            //         dlHost = 'http://' + dlEntry;
            //     } else {
            //         dlHost = dlEntry;
            //     }
            // }



            var GetFileMetaHtml = '<button class="uk-button uk-button-primary uk-button-small" ' +
                'style="height:30px;margin:5px 3px;"' +
                'onClick = "GetFileMetaFromOSS(\'{0}\')">查看文件元信息</button>';

            var SetFileMetaHtml = '<button class="uk-button uk-button-primary uk-button-small" ' +
                'style="height:30px;margin:5px 3px;"' +
                'onClick = "SetFileMetaToOSS(\'{0}\')">修改文件元信息</button>';

            var ShowFileMetaOperHtml = '<button class="uk-button uk-button-primary uk-button-small" ' +
                'style="height:30px;margin:5px 3px;"' +
                'onClick = "GetFileMetaOpertion(\'{0}\',\'{1}\')">查看文件元信息操作记录</button>';

            cell = x.insertCell();
            cell.innerHTML = GetFileMetaHtml.format(all_files[i].FileRelLocation)+
                SetFileMetaHtml.format(all_files[i].FileRelLocation)+
                ShowFileMetaOperHtml.format(all_files[i].FileSha1,all_files[i].UserName);

        }
        SetPage()
    }

    // 分页接入
   function SetPage(){
        /*设置每页显示的条数*/
        $every_page = 8;
        $items = $("#filetbl").find("tr");
        $total_all = $items.length;//总条数
        $page_num = Math.ceil($total_all/$every_page)//向上取整（2.5 ==> 3）

        $("#total_page").text($page_num);
        //初始化页面，只显示前5条。
        $("#filetbl tr:gt("+($every_page-1)+")").each(function(){
            $(this).hide();
        })
        //点击下一条按钮函数。
        $("#next_page").click(function(){
            $current_page = ($("#current_page").text());//获取当前页码
            if($current_page <$page_num){
                $("#current_page").text(++$current_page);
                $.each($("#filetbl tr"),function(index,item){
                    //获取下一页显示的开始索引。
                    var start = ($("#current_page").text()-1)*$every_page;
                    if(index>=start&& index<start+$every_page){
                        $('#tbHead').show()
                        $(this).show();
                    }else{
                        $(this).hide();
                    }
                })
            }else{
                return false;
            }
        })
        $("#pre_page").click(function(){
            $current_page = ($("#current_page").text());
            if($current_page > 1){
                $("#current_page").text(--$current_page);
                $.each($("#filetbl tr"),function(index,item){
                    var start = ($("#current_page").text()-1)*$every_page;
                    if(index>=start&& index<start+$every_page){
                        $('#tbHead').show()
                        $(this).show();
                    }else{
                        $(this).hide();
                    }
                })
            }else{
                return false;
            }
        })
    }
</script>

</html>