
<!DOCTYPE html>
<html>
<head>
    <title>宙斯云盘-文件管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/uikit.min.css" />
    <script src="../js/uikit.min.js"></script>
    <script src="../js/uikit-icons.min.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <!--分页相关-->
    <link type="text/css" href="../css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/MyPage.js"></script>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .header{
            width: 100%;
            height: 15%;
            background-color: #f8f8f8;
            border-bottom: 1px solid #96c2f1;
        }
        #warp{
            height: 85%;
            width: 100%;
            display: flex;
        }
        .lefter{
            width: 10%;
            background-color: #f8f8f8;
            border-right: 1px solid #96c2f1;
        }
        .righter{
            width: 100%;
            float: left;
            background-color: #f8f8f8;
        }
        .logo{
            height: 100%;
        }

         .searchResult{width: 500px;position: absolute; background-color: #fff;
            border: 1px solid #bbb; overflow: hidden; padding: 3px 5px;box-sizing: border-box;max-height:280px;overflow-y:auto;margin-top: 0!important;}
         .hide{display: none}
        .searchResult li{padding:3px 0;}
        .searchResult li:hover{cursor:pointer;}
    </style>
</head>
<body>

<!--头部logo以及标题div-->
<nav class="uk-navbar-container uk-margin header" uk-navbar style="margin-bottom: 0px;background-color: #f8f8f8;">
    <div class="uk-navbar-left">
        <img class="logo" src="http://img.mp.itc.cn/upload/20170724/cf678e09eb384401aa616ba134126357_th.jpg">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                    宙斯云盘-文件管理
                </a>
            </li>
        </ul>
        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input id="searchInput" class="uk-input uk-form-width-large" type="text" placeholder="宙斯文件搜索--可根据用户名和文件名搜索">
                <ul class="searchResult hide">ww</ul>
                <button class="uk-button uk-button-primary" href="#modal-full" uk-toggle onclick="SearchFilesByUserNmae()" >宙斯sou一下~</button>
            </form>
        </div>

        <!-- 搜索js逻辑 -->
        <script>
            var arry = new Array()
            function searchBtn(allusers,allfiles) {
                for (i=0;i<allusers.length;i++){
                    arry.push( allusers[i].Username)
                }
                for (j=0;j<allfiles.length;j++){
                    arry.push( allfiles[j].FileName)
                }
                var searchInput = $.trim($("#searchInput").val());
                // $(".searchResult").html(" ");
                if (searchInput == "") {}
                else {
                    if ($.inArray(searchInput, arry)>0) {   //如果input中的内容在数组中，
                        $(".searchResult").addClass("hide");
                    }
                    else {
                        $(".searchResult").addClass("hide");
                        alert("请输入正确的名称");
                    }
                }
            }
            $(function () {
                //input框输入内容时
                $("#searchInput").keyup(function () {
                    $(".searchResult").html("");
                    var searchInput = $.trim($(this).val().toString());
                    if (searchInput != "") {
                        $.each(arry, function (index, val) {
                            //如果输入的内容包括在数据中，就将其加入ul li中
                            if (val.indexOf(searchInput) != -1) {
                                $(".searchResult").append("<li>" + val + "</li>");
                            }
                            //如果ul中有子元素，则ul显示出来
                            if ($(".searchResult").html()!="") {
                                $(".searchResult").removeClass("hide");
                            }
                        })
                    }
                    //点击ul li中的数据，将其写入input中并清空ul中数据，隐藏ul。
                    $(".searchResult li").click(function () {
                        $("#searchInput").val($(this).html());
                        $(this).parent().html();
                        $(".searchResult").addClass("hide");
                    })
                    return false;
                })

            })
        </script>

        <button class="uk-button uk-button-primary" uk-toggle="target: #offcanvas-push" style="float: right;margin-right: 30px;">更多操作</button>

        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="http://b-ssl.duitang.com/uploads/item/201704/10/20170410095843_SEvMy.thumb.700_0.jpeg">
                </div>
                <div class="uk-width-expand">
                    <h3 id="adminname1" class="uk-card-title uk-margin-remove-bottom">文琪-ADMIIN</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><span class="uk-label uk-label-danger">管理员</span></p>
                </div>
            </div>
        </div>

    </div>
</nav>
<!--搜索结果全屏模态框 -->
<div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" uk-height-viewport style="width: 100%">
               <br>
               <h2 style="text-align: center;">搜索结果</h2>
                <hr class="uk-divider-icon">
                <!-- 搜索结果展示tb-->
                <table id="filetbBySearch" class="uk-table uk-table-hover uk-table-divider">
                    <thead>
                    <tr>
                        <th>文件Hash值</th>
                        <th>文件名</th>
                        <th>文件大小</th>
                        <th>创建时间</th>
                        <th>最近修改时间</th>
                        <th>归属用户</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--更多操作抽屉 -->
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>更多操作</h3>

        <div class="uk-width-expand">
            <h3 id="adminname2" class="uk-card-title uk-margin-remove-bottom">文琪-ADMIIN</h3>
            <p class="uk-text-meta uk-margin-remove-top"><span class="uk-label uk-label-danger">管理员</span></p>
        </div>
        <br> <br>
        <button class="uk-button uk-button-primary" onclick="toUserMan()">用户管理</button>
        <br> <br>
        <button class="uk-button uk-button-primary" onclick="toFileMetaMan()">文件元数据管理</button>
        <br> <br>
        <button class="uk-button uk-button-primary" onclick="toIndex()">退出登录</button>
    </div>
</div>

<div id="warp">
    <!--右部文件信息及操作div-->
    <div class="righter">
        <table id="filetbl" class="uk-table uk-table-hover uk-table-divider">
            <thead>
            <tr>
                <th>文件Hash值</th>
                <th>文件名</th>
                <th>文件大小</th>
                <th>创建时间</th>
                <th>最近修改时间</th>
                <th>归属用户</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>

        <!-- 分页插件显示区域 -->
        <div style="position:absolute;bottom:0;right:0;margin-bottom: 20px" class="page" id="Page"></div>

    </div>
</div>

<!-- 下载展示模态框 -->
<div id="modal-download" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <p id="dow_tip" style="text-align: center"></p>
        <p id="dow_tip_pro" style="text-align: center"></p>
        <!-- 下载进度条 -->
        <progress id="pros" class="uk-progress"></progress>
    </div>
</div>

<!-- 权限设置模态框 -->
<div id="modal-SetACL" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body ">
        <p id="ACLInfo" ></p>
        <div class="uk-margin">
            <!-- 文件权限设置下拉框-->
            <select id="FileACLSel" class="uk-select uk-form-width" style="width: 235px;">
                <option value="设置当前文件权限" selected>设置当前文件权限</option>
                <option value="继承Bucket">继承Bucket</option>
                <option value="私有">私有</option>
                <option value="公共读">公共读</option>
                <option value="公共读">公共读写</option>
            </select><br>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
                <button id="SetACLButton" class="uk-button uk-button-primary" type="button">确定</button>
            </p>
        </div>
    </div>
</div>

<!--文件冻结确认模态框-->
<div id="modal-changeStatus" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <P id="bef_change_tip"></P>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button id="ChangeStatusActionButton" class="uk-button uk-button-primary" type="button">确定</button>
        </p>
    </div>
</div>

</body>

<script lang="javascript">

    function toIndex() {
        // window.location.href = '/file/upload?' + queryParams();
        sessionStorage.clear();
        localStorage.clear();
        window.location.href = "/static/view/signin.html";
    }

    //跳转去文件本体管理页面
    function toUserMan() {
        alert("即将前往用户管理页面...")
        window.open ("http://localhost:9090/static/view/admin.html");
    }

    //跳转去文件元数据管理页面
    function toFileMetaMan() {
        UIkit.notification({message: '即将跳转至文件元数据管理页面......！', status: 'success'})
        setTimeout(function(){
            window.location.href = "http://localhost:9090/static/view/FileMetaAdmin.html";
        }, 1500);
    }

    window.onload = function () {
        var username = document.getElementById('username');
        $.ajax({
            url: "/user/info?" + queryParams(),
            type: "POST",
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus == "error") {
                    if (errorThrown == "Forbidden")
                        UIkit.notification({message: '请先登录本系统！', status: 'danger'})
                    setTimeout(function(){
                        window.location.href = "/static/view/signin.html";
                    }, 1000);
                } else {
                    UIkit.notification({message: textStatus, status: 'danger'})
                }
            },            success: function (body, textStatus, jqXHR) {
                var resp = JSON.parse(body);
                console.log(resp)
                document.getElementById("adminname1").innerHTML = resp.data.Username;
                document.getElementById("adminname2").innerHTML = resp.data.Username;
                FileTotal = resp.all_file_meta_total
                updateFileList(FileTotal)
                searchBtn(resp.all_users,resp.all_files)
            }
        });
    }

    /**
     *前端页面的时间格式化函数
     */
    function checkTime(i){
        if (i<10){
            i="0" + i
        }
        return i;
    }

    function formatDate(date) {
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var weekday = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();

        return (year + "-" + checkTime(month) + "-" + checkTime(weekday)+" "+checkTime(hours)+":"+
            checkTime(minutes)+":"+checkTime(seconds));
    }

    //设置全局变量，需要更改发送的账户状态值
    var sendStatus

    function updateFileList(FileTotal) {
        var pageIndex
        // 激活分页插件
        P.initMathod({
            params: {elemId: '#Page',total:'10',pageNum:3,pageSize:7},
            requestFunction: function () {
                //计算所需页码
                num = Math.ceil(FileTotal/7)
                P.config.pageNum = num
                P.config.total = FileTotal

                console.log(P.config)
                pageIndex = P.config.pageIndex

                $.ajax({
                    url: "/filebackend/all?" + queryParams(),
                    type: "POST",
                    data: {
                        PageIndex: pageIndex, // 当前点击的页码
                        PageSize: 7 //每页显示的条数
                    },
                    error: function (err) {
                        alert(JSON.stringify(err));
                    },
                    success: function (response) {
                        var dlHost = 'http://localhost:9090';
                        var dlEntry = localStorage.getItem('downloadEntry');
                        if (dlEntry != null) {
                            if (dlEntry.indexOf('http:')<0) {
                                dlHost = 'http://' + dlEntry;
                            } else {
                                dlHost = dlEntry;
                            }
                        }

                        var setACLHtml = '<button class="uk-button uk-button-danger uk-button-small" ' +
                            'style="height:30px;margin:5px 3px;"' +
                            'onClick = "GetACL(\'{0}\',\'{1}\',\'' + dlHost + '/filebackend/getossacl?filename={1}&{2}\')">权限设置</button>';

                        var downoadHtml = '<button class="uk-button uk-button-primary uk-button-small" ' +
                            'style="height:30px;margin:5px 3px;" onclick="DownLoadChoose({0})">本地下载</button>' +
                            '<div id="{0}_dow" uk-dropdown="mode: click">' +
                            '<button class="uk-button uk-button-primary uk-button-small"' +
                            'onClick = "downloadFile(\'{1}\',\'' + dlHost + '/filebackend/download?filehash={0}&{2}\')">快速下载</button><br><br>' +
                            '<button class="uk-button uk-button-primary uk-button-small" ' +
                            'onclick="downloadlocal(\'{1}\',\'' + dlHost + '/filebackend/downloadlocal?filehash={0}&{2}\')">流式下载</button><br><br>' +
                            '<button class="uk-button uk-button-primary uk-button-small"' +
                            'onclick="downloadpart(\'{1}\',\'' + dlHost + '/filebackend/downloadpart?filehash={0}&{2}\')">断点续传下载</button></div>'

                        var changeFileStatusHtml = '<button id="{0}_changestatus" class="uk-button uk-button-danger uk-button-small" ' +
                            ' style="height:30px;margin:5px 3px;"' +
                            'onClick = "changeFileStatus(\'{0}\',\'{1}\',\'' + dlHost + '/filebackend/changefilestatus?{2}\')">文件冻结</button>';


                        // 序列化返回内容，转化为json数据
                        response = JSON.parse(response)

                        // 解析json数据，如果code为-1，则展示错误信息，否则正常展示查询数据
                        if (response.code == -1){
                            UIkit.notification({message: response.msg, status: 'danger'})
                        }else {
                            console.log(response.data)
                            for (var i = 0; i < response.data.length; i++) {
                                var x = document.getElementById('filetbl').insertRow();
                                var cell = x.insertCell();
                                cell.innerHTML = response.data[i].FileSha1.substr(0, 20) + "...";


                                cell = x.insertCell();
                                // 截取盘符
                                Disk = response.data[i].FileAbsLocation.substring(0,response.data[i].FileAbsLocation.indexOf(":"))
                                // 截取路径
                                Path = response.data[i].FileAbsLocation.substring(response.data[i].FileAbsLocation.indexOf(":")+1,response.data[i].FileAbsLocation.length)
                                cell.innerHTML = "<a uk-tooltip="+response.data[i].FileName+" id='"+response.data[i].FileSha1+"'" +
                                    " target='_blank' href= '"+dlHost+"/"+Disk+Path+"'>"
                                    + response.data[i].FileName.substring(0,50)+"</a>";

                                cell = x.insertCell();
                                cell.innerHTML = response.data[i].FileSize;

                                cell = x.insertCell();
                                var UploadAt = new Date(response.data[i].UploadAt)
                                cell.innerHTML = formatDate(UploadAt);

                                cell = x.insertCell();
                                var LastUpdate = new Date(response.data[i].LastUpdate)
                                cell.innerHTML = formatDate(LastUpdate);

                                cell = x.insertCell();
                                cell.innerHTML = response.data[i].UserName;

                                cell = x.insertCell();
                                cell.innerHTML = setACLHtml.format(response.data[i].UserName, response.data[i].FileName, queryParams())+
                                    downoadHtml.format(response.data[i].FileSha1, response.data[i].FileName, queryParams())+
                                    changeFileStatusHtml.format(response.data[i].FileSha1,response.data[i].FileName, queryParams());

                                // 初始化文件冻结按钮文本显示和样式
                                if (response.data[i].Status == 1){
                                    $('#'+response.data[i].FileSha1+"_changestatus").attr("class","uk-button uk-button-danger uk-button-small");
                                    $('#'+response.data[i].FileSha1+'_changestatus').text("冻结文件")
                                }else{
                                    $('#'+response.data[i].FileSha1+"_changestatus").attr("class","uk-button uk-button-primary uk-button-small");
                                    $('#'+response.data[i].FileSha1+'_changestatus').text("解除冻结")
                                }

                                // if(data[i].Username == localStorage.getItem("username")){
                                //     realStatus = data[i].Username+"_status"
                                //     $("#"+realStatus).attr('disabled',true);
                                //     $("#"+data[i].Username+"_delete").attr('disabled',true);
                                // }
                            }
                        }
                    }
                });
                // 清除原有页面的表格数据---配合分页使用
                $("#filetbl tr:gt(0)").empty();
                $("#filetbl tr").not(':eq(0)').empty()
            }
        });
    }

    // 获取文件权限，渲染数据至模态框--模态框的按钮点击设置权限
    function GetACL(checkusername,filename,durl) {

        // 当前文件权限信息
        let text;

        $.ajax({
            url:durl,
            type:"POST",
            data:{
                checkusername:checkusername
            },
            error:function (error) {
                alert(error)
            },
            success:function (response) {
                response = JSON.parse(response)
                if (response.code == -1){
                    UIkit.notification({message: response.msg, status: 'danger'})
                }else {
                    acl = response.data

                    if (acl == "default") {
                        text = "继承Bucket"
                    } else if (acl == "private") {
                        text = "私有"
                    } else if (acl == "public-read") {
                        text = "公共读"
                    } else if (acl == "public-read-write") {
                        text = "公共读写"
                    } else {
                        text = "权限获取失败"
                    }
                    // 渲染数据

                    $('#ACLInfo').html(filename+'&nbsp;&nbsp;文件权限为<strong>&nbsp;&nbsp;'+text+'</strong>')
                    // 打开模态框
                    UIkit.modal($('#modal-SetACL')).show();
                    $('#SetACLButton').unbind("click").click(function () {
                        let send_acl
                        // 获取下拉框的值
                        sel_acl = $("#FileACLSel option:selected").text();
                        if (sel_acl == "继承Bucket"){
                            send_acl = "default"
                        }else if (sel_acl == "私有"){
                            send_acl = "private"
                        }else if (sel_acl == "公共读"){
                            send_acl = "publicread"
                        }else if (sel_acl == "公共读写"){
                            send_acl = "publicreadwrite"
                        }
                        // 发送请求，设置权限
                        SetACL(checkusername,filename,send_acl)
                    })
                }
            }
        })
    }

    // 设置文件权限
    function SetACL(checkusername,filename,acl) {
        $.ajax({
            url:"/filebackend/setossacl?"+queryParams(),
            type: "POST",
            data: {
                filename:filename,
                checkusername:checkusername,
                acl:acl
            },
            error:function (error) {
                alert(error)
            },
            success:function (response) {
                response = JSON.parse(response)
                if (response.code == -1){
                    UIkit.notification({message: response.msg, status: 'danger'})
                }else {
                    UIkit.notification({message: "文件权限设置成功！", status: 'success'})
                    setTimeout(function(){
                        window.location.reload();;
                    }, 1000);
                }
            }
        })
    }

   // 多种方式下载控制显示
    function DownLoadChoose(fileHash) {
        UIkit.dropdown($('#'+fileHash+'dow')).show();
    }

    // 解析下载文件流
    function download(filename,url){
        var xmlResquest = new XMLHttpRequest();
        // 进度条渲染
        xmlResquest.onprogress = function(event){
            if (event.lengthComputable){
                var loaded = parseInt(event.loaded/event.total*100);
                // $('#pros').width(loaded);
                // $('#pros').text(loaded);
                $('#pros').attr({value : event.loaded, max : event.total}); //更新数据到进度条
                var percent = event.loaded/event.total*100;
                $('#pros').html(event.loaded + "/" + event.total+" bytes. " + percent.toFixed(2) + "%");
                $('#dow_tip_pro').html("已完成"+percent.toFixed(2) + "%")
                $('#pros').css('width', percent.toFixed(2) + "%");
            }
        }
        xmlResquest.open("POST", url, true);
        xmlResquest.setRequestHeader("Content-type", "application/json");
        // xmlResquest.setRequestHeader("Authorization", "Bearer 6cda86e3-ba1c-4737-972c-f815304932ee");
        xmlResquest.responseType = "blob";
        xmlResquest.onload = function (oEvent) {
            var content = xmlResquest.response;
            var elink = document.createElement('a');
            elink.download = filename;
            elink.style.display = 'none';
            var blob = new Blob([content]);
            elink.href = URL.createObjectURL(blob);
            document.body.appendChild(elink);
            elink.click();
            document.body.removeChild(elink);
        };
        xmlResquest.send();
    }

    // 快速下载
    function downloadFile(filename,durl) {
        $.ajax({
            url: durl,
            type: "POST",
            error: function (error) {
                UIkit.notification({message: error, status: 'danger'})
            },
            success: function (response) {
                // 重置模态框内元素
                $('#dow_tip_pro').empty()
                $('#pros').removeAttr('value')
                $('#pros').removeAttr('max')

                // 打开模态框
                UIkit.modal($('#modal-download')).show();
                // 写入下载提示
                $('#dow_tip').text("下载中请稍后...")
                download(filename,durl)
            }
        });
    }

    // 流式下载
    function downloadlocal(filename,url) {

        // 重置模态框内元素
        $('#dow_tip_pro').empty()
        $('#pros').removeAttr('value')
        $('#pros').removeAttr('max')

        // 打开模态框
        UIkit.modal($('#modal-download')).show();
        // 写入下载提示
        $('#dow_tip').text("下载中请稍后...")

        $.ajax({
            url: url,
            type: "POST",
            error: function (error) {
                alert(error);
            },
            success: function () {
                download(filename,url)
            }
        })
    }

    // 断点续传下载
    function downloadpart(filename,url) {
        // 重置模态框内元素
        $('#dow_tip_pro').empty()
        $('#pros').removeAttr('value')
        $('#pros').removeAttr('max')

        // 打开模态框
        UIkit.modal($('#modal-download')).show();
        // 写入下载提示
        $('#dow_tip').text("下载中请稍后...")

        $.ajax({
            url: url,
            type: "POST",
            error: function (error) {
                alert(error);
            },
            success: function () {
                download(filename,url)
            }
        })
    }

    /**
     * 根据用户名搜索文件js
     */
    function SearchFilesByUserNmae() {

        if ( $('#searchInput').val() == ""){
            $("#filetbBySearch").hide()
        }

        $.ajax({
            url: "/filebackend/querybyname?"+queryParams(),
            type: "POST",
            data: {
                checkname:$('#searchInput').val(),
            },
            error: function (error) {
                alert(error);
            },
            success: function (response) {
                var dlHost = 'http://localhost:9090';
                var dlEntry = localStorage.getItem('downloadEntry');
                if (dlEntry != null) {
                    if (dlEntry.indexOf('http:')<0) {
                        dlHost = 'http://' + dlEntry;
                    } else {
                        dlHost = dlEntry;
                    }
                }

                var setACLHtml = '<button class="uk-button uk-button-danger uk-button-small" ' +
                    'style="height:30px;margin:5px 3px;"' +
                    'onClick = "GetACL(\'{0}\',\'{1}\',\'' + dlHost + '/filebackend/getossacl?filename={1}&{2}\')">权限设置</button>';

                var downoadHtml = '<button class="uk-button uk-button-primary uk-button-small" ' +
                    'style="height:30px;margin:5px 3px;" onclick="DownLoadChoose({0})">本地下载</button>' +
                    '<div id="{0}_dow" uk-dropdown="mode: click">' +
                    '<button class="uk-button uk-button-primary uk-button-small"' +
                    'onClick = "downloadFile(\'{1}\',\'' + dlHost + '/filebackend/download?filehash={0}&{2}\')">快速下载</button><br><br>' +
                    '<button class="uk-button uk-button-primary uk-button-small" ' +
                    'onclick="downloadlocal(\'{1}\',\'' + dlHost + '/filebackend/downloadlocal?filehash={0}&{2}\')">流式下载</button><br><br>' +
                    '<button class="uk-button uk-button-primary uk-button-small"' +
                    'onclick="downloadpart(\'{1}\',\'' + dlHost + '/filebackend/downloadpart?filehash={0}&{2}\')">断点续传下载</button></div>'

                var changeFileStatusHtml = '<button id="{0}_delete" class="uk-button uk-button-danger uk-button-small"' +
                    ' style="height:30px;margin:5px 3px;"' +
                    'onClick = "changeFileStatus(\'{0}\',\'{1}\',\'' + dlHost + '/filebackend/changefilestatus?{2}\')">文件冻结</button>';


                // 序列化返回内容，转化为json数据
                response = JSON.parse(response)

                // 解析json数据，如果code为-1，则展示错误信息，否则正常展示查询数据
                if (response.code == -1){
                    UIkit.notification({message: response.msg, status: 'danger'})
                }else {
                    console.log(response.data)
                    for (var i = 0; i < response.data.length; i++) {
                        var x = document.getElementById('filetbBySearch').insertRow();
                        var cell = x.insertCell();
                        cell.innerHTML = response.data[i].FileSha1.substr(0, 20) + "...";


                        cell = x.insertCell();
                        // 截取盘符
                        Disk = response.data[i].FileAbsLocation.substring(0,response.data[i].FileAbsLocation.indexOf(":"))
                        // 截取路径
                        Path = response.data[i].FileAbsLocation.substring(response.data[i].FileAbsLocation.indexOf(":")+1,response.data[i].FileAbsLocation.length)
                        cell.innerHTML = "<a uk-tooltip="+response.data[i].FileName+" id='"+response.data[i].FileSha1+"'" +
                            " target='_blank' href= '"+dlHost+"/"+Disk+Path+"'>"
                            + response.data[i].FileName.substring(0,50)+"</a>";

                        cell = x.insertCell();
                        cell.innerHTML = response.data[i].FileSize;

                        cell = x.insertCell();
                        var UploadAt = new Date(response.data[i].UploadAt)
                        cell.innerHTML = formatDate(UploadAt);

                        cell = x.insertCell();
                        var LastUpdate = new Date(response.data[i].LastUpdate)
                        cell.innerHTML = formatDate(LastUpdate);

                        cell = x.insertCell();
                        cell.innerHTML = response.data[i].UserName;

                        cell = x.insertCell();
                        cell.innerHTML = setACLHtml.format(response.data[i].UserName, response.data[i].FileName, queryParams())+
                            downoadHtml.format(response.data[i].FileSha1, response.data[i].FileName, queryParams())+
                            changeFileStatusHtml.format(response.data[i].FileSha1,response.data[i].FileName, queryParams());


                        // 初始化文件冻结按钮文本显示和样式
                        if (response.data[i].Status == 1){
                            $('#'+response.data[i].FileSha1+"_changestatus").attr("class","uk-button uk-button-danger uk-button-small");
                            $('#'+response.data[i].FileSha1+'_changestatus').text("冻结文件")
                        }else{
                            $('#'+response.data[i].FileSha1+"_changestatus").attr("class","uk-button uk-button-primary uk-button-small");
                            $('#'+response.data[i].FileSha1+'_changestatus').text("解除冻结")
                        }

                        // if(data[i].Username == localStorage.getItem("username")){
                        //     realStatus = data[i].Username+"_status"
                        //     $("#"+realStatus).attr('disabled',true);
                        //     $("#"+data[i].Username+"_delete").attr('disabled',true);
                        // }
                    }
                }
            }
        });
        // 清除原有页面的表格数据
        $("#filetbBySearch tr:gt(0)").empty();
        $("#filetbBySearch tr").not(':eq(0)').empty()
    }

    /**
     * 更改文件状态，切换1和0值
     * 1代表文件正常访问，0代表文件已经被管理员冻结
     * @param username
     * @param durl
     */
    function changeFileStatus(filehash,filename,durl) {

        if ($('#'+filehash+"_changestatus").text() == "冻结文件"){
            $('#bef_change_tip').html("确定冻结文件<strong>"+filename+"</strong>吗？")
        }else{
            $('#bef_change_tip').html("确定解冻文件<strong>"+filename+"</strong>吗？")
        }

        // 打开模态框
        UIkit.modal($('#modal-changeStatus')).show();

        $('#ChangeStatusActionButton').unbind("click").click(function () {

            $.ajax({
                url: durl,
                type: "POST",
                data: {
                    filehash:filehash
                },
                error: function (error) {
                    alert(error)
                },
                success: function (response) {
                    response=JSON.parse(response)
                    if (response.code == -1){
                        UIkit.notification({message: response.msg, status: 'danger'})
                    }else {
                        if ($('#'+filehash+"_changestatus").text() == "冻结文件"){
                            UIkit.notification({message: "文件冻结成功", status: 'success'})
                            // 更改按钮文字
                            $('#'+filehash+"_changestatus").text('解除冻结')
                            // 更改按钮颜色
                            $('#'+filehash+"_changestatus").attr("class","uk-button uk-button-primary uk-button-small");
                            // setTimeout(function(){
                            //     window.location.reload();;
                            // }, 1500);
                        }else {
                            UIkit.notification({message: "文件解冻成功", status: 'success'})
                            // 更改按钮文字
                            $('#'+filehash+"_changestatus").text('冻结文件')
                            // 更改按钮颜色
                            $('#'+filehash+"_changestatus").attr("class","uk-button uk-button-danger uk-button-small");
                            // setTimeout(function(){
                            //     window.location.reload();;
                            // }, 1500);
                        }
                    }
                }
            });
            UIkit.modal($('#modal-changeStatus')).hide()
        })
    }

</script>


</html>