<!DOCTYPE html>
<html>
<head>
    <title>宙斯云盘-文件元数据管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/uikit.min.css" />
    <script src="../js/uikit.min.js"></script>
    <script src="../js/uikit-icons.min.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .header{
            width: 100%;
            height: 15%;
            background-color: #f8f8f8;
            border-bottom: 1px solid #96c2f1;
        }
        #warp{
            height: 85%;
            width: 100%;
            display: flex;
        }
        .lefter{
            width: 10%;
            background-color: #f8f8f8;
            border-right: 1px solid #96c2f1;
        }
        .righter{
            width: 100%;
            float: left;
            background-color: #f8f8f8;
        }
        .logo{
            height: 100%;
        }
    </style>
</head>
<body>

<!--头部logo以及标题div-->
<nav class="uk-navbar-container uk-margin header" uk-navbar style="margin-bottom: 0px;background-color: #f8f8f8;">
    <div class="uk-navbar-left">
        <img class="logo" src="http://img.mp.itc.cn/upload/20170724/cf678e09eb384401aa616ba134126357_th.jpg">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                    文件元数据管理
                </a>
            </li>
        </ul>
        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-large" type="text" placeholder="找不到，搜一下？">
                <button class="uk-button uk-button-primary" uk-toggle="target: #offcanvas-usage">宙斯sou一下~</button>
            </form>
        </div>
        <button class="uk-button uk-button-primary" uk-toggle="target: #offcanvas-push" style="float: right;margin-right: 30px;">更多操作</button>

        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="http://b-ssl.duitang.com/uploads/item/201704/10/20170410095843_SEvMy.thumb.700_0.jpeg">
                </div>
                <div class="uk-width-expand">
                    <h3 id="adminname1" class="uk-card-title uk-margin-remove-bottom">文琪-ADMIIN</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><span class="uk-label uk-label-danger">管理员</span></p>
                </div>
            </div>
        </div>

    </div>
</nav>
<!--搜索结果抽屉 -->
<div id="offcanvas-usage" uk-offcanvas>
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>宙斯SOU</h3>

        <p>抱歉，未找到您想搜索的东西</p>

    </div>
</div>

<!--更多操作抽屉 -->
<div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <h3>更多操作</h3>

        <div class="uk-width-expand">
            <h3 id="adminname2" class="uk-card-title uk-margin-remove-bottom">文琪-ADMIIN</h3>
            <p class="uk-text-meta uk-margin-remove-top"><span class="uk-label uk-label-danger">管理员</span></p>
        </div>
        <button class="uk-button uk-button-primary" href="#modal-upload" uk-toggle>文件管理</button>
        <br> <br>
        <button class="uk-button uk-button-primary" onclick="toUserMan()">用户管理</button>
        <br> <br>
        <button class="uk-button uk-button-primary" onclick="toIndex()">退出登录</button>
    </div>
</div>

<!--下载提示模态框-->
<div id="modal-download" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <p id="downloadAction">文件即将下载自......</p>
    </div>
</div>

<!--删除确认模态框-->
<div id="modal-delete" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <P>确认删除吗？</P>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
            <button id="deleteActionButton" class="uk-button uk-button-primary " type="button">确定</button>
        </p>
    </div>
</div>

<div id="warp">
    <div class="righter">
        <table id="filetbl" class="uk-table uk-table-hover uk-table-divider">
            <thead>
            <tr>
                <th>文件Hash值</th>
                <th>文件名</th>
                <th>文件大小</th>
                <th>创建时间</th>
                <th>最近修改时间</th>
                <th>归属用户</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>

        <!--删除确认模态框-->
        <div id="modal-delete" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <P>确认删除吗？</P>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
                    <button id="deleteActionButton" class="uk-button uk-button-primary" type="button">确定</button>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

<script lang="javascript">

    function toIndex() {
        // window.location.href = '/file/upload?' + queryParams();
        sessionStorage.clear();
        localStorage.clear();
        window.location.href = "/static/view/signin.html";
    }


    //跳转去用户管理页面
    function toUserMan() {
        UIkit.notification({message: '即将跳转至用户管理页面...！', status: 'success'})
        setTimeout(function(){
            window.location.href = "http://localhost:9090/static/view/admin.html";
        }, 1500);
    }


    window.onload = function () {
        var username = document.getElementById('username');
        $.ajax({
            url: "/user/info?" + queryParams(),
            type: "POST",
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus == "error") {
                    if (errorThrown == "Forbidden")
                        UIkit.notification({message: '请先登录本系统！', status: 'danger'})
                    setTimeout(function(){
                        window.location.href = "/static/view/signin.html";
                    }, 1000);
                } else {
                    UIkit.notification({message: textStatus, status: 'danger'})
                }
            },
            success: function (body, textStatus, jqXHR) {
                var resp = JSON.parse(body);
                document.getElementById("adminname1").innerHTML = resp.data.Username;
                document.getElementById("adminname2").innerHTML = resp.data.Username;
                updateFileList();
            }
        });
    }

    /**
     *前端页面的时间格式化函数
     */
    function checkTime(i){
        if (i<10){
            i="0" + i
        }
        return i;
    }

    function formatDate(date) {
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var weekday = date.getDate();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();

        return (year + "-" + checkTime(month) + "-" + checkTime(weekday)+" "+checkTime(hours)+":"+
            checkTime(minutes)+":"+checkTime(seconds));
    }

    function updateFileList() {
        $.ajax({
            url: "/file/all?" + queryParams(),
            type: "POST",
            data: {
                limit: 15
            },
            error: function (err) {
                alert(JSON.stringify(err));
            },
            success: function (body) {
                console.log(body)
                if (!body) {
                    return;
                }
                var data = body;
                if (!data || data.length <= 0) {
                    return;
                }

                var dlHost = 'http://localhost:9090';
                var dlEntry = localStorage.getItem('downloadEntry');
                if (dlEntry != null) {
                    if (dlEntry.indexOf('http:')<0) {
                        dlHost = 'http://' + dlEntry;
                    } else {
                        dlHost = dlEntry;
                    }
                }

                var downloadHtml = '<button class="uk-button uk-button-primary uk-button-small" href="#modal-download" uk-toggle ' +
                    'style="height:30px;margin:5px 3px;"' +
                    'onClick = "downloadFile(\'' + dlHost + '/file/downloadurl?filehash={0}&{1}\')">下载</button>';
                var deleteFileHtml = '<button class="uk-button uk-button-danger uk-button-small" href="#modal-delete" uk-toggle '+
                    'style="height:30px;margin:5px 3px;"' +
                    'onClick = "deleteFile(\'{0}\',\'' + dlHost + '/file/delete?filehash={0}&{1}\')">删除</button>';


                //给模态框表单添加验证
                $("#realusername").attr("value",localStorage.getItem("username"))
                console.log(localStorage.getItem("username"))
                $("#token").attr("value",localStorage.getItem("token"))
                console.log(localStorage.getItem("token"))

                data = JSON.parse(data)
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    var x = document.getElementById('filetbl').insertRow();
                    var cell = x.insertCell();
                    cell.innerHTML = data[i].FileHash.substr(0, 20) + "...";

                    cell = x.insertCell();
                    fileShowURL = dlHost+"/static/files/"+data[i].RealName;
                    cell.innerHTML = "<a uk-tooltip="+data[i].FileName+" id='"+data[i].FileHash+"' target='_blank' href= "+fileShowURL+">"+ data[i].FileName.substring(0,50)+"</a>";

                    cell = x.insertCell();
                    cell.innerHTML = data[i].FileSize+" KB";

                    cell = x.insertCell();
                    var UploadAt = new Date(data[i].UploadAt)
                    cell.innerHTML = formatDate(UploadAt);

                    cell = x.insertCell();
                    var LastUpdated = new Date(data[i].LastUpdated);
                    cell.innerHTML = formatDate(LastUpdated);

                    cell = x.insertCell();
                    cell.innerHTML = data[i].UserName;

                    cell = x.insertCell();
                    cell.innerHTML = downloadHtml.format(data[i].FileHash, queryParams()) + deleteFileHtml
                            .format(data[i].FileHash, queryParams());
                }

            }
        });
    }

    function download(url){
        try {
            var elemIF = document.createElement("iframe");
            elemIF.src = url;
            elemIF.style.display = "none";
            document.body.appendChild(elemIF);
        } catch (e) {
            alert("下载异常！");
        }
    }

    function downloadFile(durl) {
        $.ajax({
            url: durl,
            type: "POST",
            error: function (jqXHR, textStatus, errorThrown) {
                if (textStatus == "error") {
                    mes = textStatus + " : " + errorThrown
                    UIkit.notification({message: mes, status: 'danger'})
                } else {
                    UIkit.notification({message: textStatus, status: 'danger'})
                }
            },
            success: function (body, textStatus, jqXHR) {
                try {
                    document.getElementById("downloadAction").innerHTML = "文件即将下载自:<br>"+body;
                    setTimeout(function(){
                        download(body)
                    }, 2000);
                } catch (e) {
                    alert(e);
                }
            }
        });
    }


    function deleteFile(filehash,durl) {
        $('#deleteActionButton').unbind("click").click(function () {
            $.ajax({
                url: durl,
                type: "POST",
                error: function (jqXHR, textStatus, errorThrown) {
                    if (textStatus == "error") {
                        mes = textStatus + " : " + errorThrown
                        UIkit.notification({message: mes, status: 'danger'})
                    } else {
                        UIkit.notification({message: textStatus, status: 'danger'})
                    }
                },
                success: function (body, textStatus, jqXHR) {
                    UIkit.notification({message: '文件删除成功！', status: 'success'})
                    $("#"+filehash).parent().parent().remove();
                }
            });
            UIkit.modal($('#modal-delete')).hide()
        })
    }
</script>

</html>