
<!DOCTYPE html>
<html>
<head>
  <title>宙斯云盘主页</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/uikit.min.css" />
  <script src="../js/uikit.min.js"></script>
  <script src="../js/uikit-icons.min.js"></script>
  <script src="../js/auth.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

  <!--分页相关-->
  <link type="text/css" href="../css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <script type="text/javascript" src="../js/MyPage.js"></script>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .header{
      width: 100%;
      height: 15%;
      background-color: #f8f8f8;
      border-bottom: 1px solid #96c2f1;
    }
    #warp{
      height: 85%;
      width: 100%;
      display: flex;
    }
    .lefter{
      width: 15%;
      background-color: #f8f8f8;
      border-right: 1px solid #96c2f1;
    }
    .righter{
      width: 85%;
      float: left;
      background-color: #f8f8f8;
      position: relative;
    }
    .logo{
      height: 100%;
    }
    .uk-table td{
      vertical-align: middle !important;
    }
    .progress {
      width: 550px;
      height: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: 10px 0px;
      overflow: hidden;
    }
    /* 初始状态设置进度条宽度为0px */
    .progress > div {
      width: 0px;
      height: 100%;
      background-color: yellowgreen;
      transition: all .3s ease;
    }

    .searchResult{width: 500px;position: absolute; background-color: #fff;
      border: 1px solid #bbb; overflow: hidden; padding: 3px 5px;box-sizing: border-box;max-height:280px;overflow-y:auto;margin-top: 0!important;}
    .hide{display: none}
    .searchResult li{padding:3px 0;}
    .searchResult li:hover{cursor:pointer;}
  </style>
</head>
<body>

<!--头部logo以及标题div-->
<nav class="uk-navbar-container uk-margin header" uk-navbar style="margin-bottom: 0px;background-color: #f8f8f8;">
  <div class="uk-navbar-left">
    <img class="logo" src="http://img.mp.itc.cn/upload/20170724/cf678e09eb384401aa616ba134126357_th.jpg">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
          宙斯云盘
        </a>
      </li>
    </ul>
    <div class="uk-navbar-item">
      <form action="javascript:void(0)">
        <input id="searchInput" class="uk-input uk-form-width-large" type="text" placeholder="找不到，搜一下？">
        <ul class="searchResult hide" style="z-index: 20"></ul>
        <button class="uk-button uk-button-primary" href="#modal-full" uk-toggle onclick="SearchFilesByname()">宙斯sou一下~</button>
      </form>
    </div>

    <!-- 搜索js逻辑 -->
    <script>
      var arry = new Array()
      function searchBtn(allusers,allfiles) {
        // 如果是属于当前登录用户的文件的话
        for (j=0;j<allfiles.length;j++){
          if (allfiles[j].UserName == localStorage.getItem("username")){
            arry.push( allfiles[j].FileName)
          }
        }
        var searchInput = $.trim($("#searchInput").val());
        // $(".searchResult").html(" ");
        if (searchInput == "") {}
        else {
          if ($.inArray(searchInput, arry)>0) {   //如果input中的内容在数组中，
            $(".searchResult").addClass("hide");
          }
          else {
            $(".searchResult").addClass("hide");
            alert("请输入正确的名称");
          }
        }
      }
      $(function () {
        //input框输入内容时
        $("#searchInput").keyup(function () {
          $(".searchResult").html("");
          var searchInput = $.trim($(this).val().toString());
          if (searchInput != "") {
            $.each(arry, function (index, val) {
              //如果输入的内容包括在数据中，就将其加入ul li中
              if (val.indexOf(searchInput) != -1) {
                $(".searchResult").append("<li>" + val + "</li>");
              }
              //如果ul中有子元素，则ul显示出来
              if ($(".searchResult").html()!="") {
                $(".searchResult").removeClass("hide");
              }
            })
          }
          //点击ul li中的数据，将其写入input中并清空ul中数据，隐藏ul。
          $(".searchResult li").click(function () {
            $("#searchInput").val($(this).html());
            $(this).parent().html();
            $(".searchResult").addClass("hide");
          })
          return false;
        })

      })
    </script>

    <button class="uk-button uk-button-primary" href="#modal-upload" uk-toggle style="float: right;margin-right: 30px;">上传文件</button>
  </div>
</nav>
<!--上传文件模态框-->
<div id="modal-upload" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div style="width:100%;height:100%;margin:0 0 10px 0;text-align: center;">
      <div style="font-size:20px;font-weight:bold;color:#ddd;
      margin:0;padding-top:3px;background:#383e4b;height:40px;">
        文件上传
      </div>
      <div class="uk-margin" uk-margin>
        <div uk-form-custom="target: true">
          <input id="file" name="file" type="file">
          <input class="uk-input uk-form-width-medium" type="text" placeholder="选择文件" disabled>
        </div>
        <button id="uploadBtn" class="uk-button uk-button-default" onclick="onUpload()">上传</button>
        <!-- 文件上传进度条 -->
        <div id="progress" class="progress">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--搜索结果全屏模态框 -->
<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
      <div class="uk-background-cover" uk-height-viewport style="width: 100%">
        <br>
        <h2 style="text-align: center;">搜索结果</h2>
        <hr class="uk-divider-icon">
        <!-- 搜索结果展示tb-->
        <table id="filetbBySearch" class="uk-table uk-table-hover uk-table-divider">
          <thead>
          <tr>
            <th>文件Hash</th>
            <th>文件名</th>
            <th>文件大小</th>
            <th>上传时间</th>
            <th>最近更新</th>
            <th>文件操作</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="warp">
  <!--左部昵称信息头像div-->
  <div class="lefter">
    <dl class="uk-description-list uk-description-list-divider">

      <div class="uk-card">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="../img/avatar.jpeg">
            </div>
            <div class="uk-width-expand">
              <h3 id="username" class="uk-card-title uk-margin-remove-bottom"></h3>
              <p class="uk-text-meta uk-margin-remove-top"><span class="uk-label uk-label-danger">VIP</span></p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <span class="uk-label uk-label-success">注册时间</span>
          <dd id="regtime"></dd>
          <hr class="uk-divider-icon">
          <span class="uk-label uk-label-success">电话</span>
          <dd id="phone"></dd>
          <hr class="uk-divider-icon">
          <span class="uk-label uk-label-success">邮箱</span>
          <dd id="email"></dd>
        </div>
        <div class="uk-card-footer">
          <button class="uk-button uk-button-primary uk-margin-small-bottom" href="#modal-change" uk-toggle>修改信息</button>
          <button class="uk-button uk-button-primary uk-margin-small-bottom" onclick="toIndex()">退出登录</button>
          <ul class="uk-pagination" data-uk-pagination="{items:100, itemsOnPage:10}"></ul>
        </div>
      </div>


    </dl>
  </div>

  <!--右部文件信息及操作div-->
  <div class="righter">
    <table id="filetbl" class="uk-table uk-table-hover uk-table-divider">
      <thead>
      <tr>
        <th>文件Hash</th>
        <th>文件名</th>
        <th>文件大小</th>
        <th>上传时间</th>
        <th>最近更新</th>
        <th>文件操作</th>
      </tr>
      </thead>
    </table>

    <!-- 分页插件显示区域 -->
    <div style="position:absolute;bottom:0;right:0;margin-bottom: 20px" class="page" id="Page"></div>


    <!--重命名模态框-->
    <div id="modal-newname" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-margin">
          <p id="FileName">当前文件名</p>
          <input style="width: 70%;" id="renameAction" class="uk-input" type="text" placeholder="请输入新的文件名">
          <p id="fileType" style="float: right;width: 30%;margin-right: -10px;"></p>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
          <button id="renameActionButton" class="uk-button uk-button-primary " type="button">确定</button>
        </p>
      </div>
    </div>

    <!--删除确认模态框-->
    <div id="modal-delete" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <P>确认删除吗？</P>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
          <button id="deleteActionButton" class="uk-button uk-button-primary " type="button">确定</button>
        </p>
      </div>
    </div>

    <!--修改信息模态框-->
    <div id="modal-change" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <!--用户名-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">昵称</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input id="ModalUsername" class="uk-input" type="text" disabled="disabled">
            <input id="realusername" type="hidden">
          </div>
        </div>
        <!--注册时间-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">时间</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
            <input id="ModalRegtime" class="uk-input" type="text" disabled="disabled">
          </div>
        </div>
        <!--密码-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">密码</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input id="newpwd" class="uk-input" type="text">
          </div>
        </div>
        <!--电话-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">电话</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: receiver"></span>
            <input id="ModalPhone" class="uk-input" type="text">
          </div>
        </div>
        <!--邮箱-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">邮箱</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input id="ModalEmail" class="uk-input" type="text">
          </div>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
          <button id="update" class="uk-button uk-button-primary " type="button">确定</button>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- 下载展示模态框 -->
<div id="modal-download" class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <p id="dow_tip" style="text-align: center"></p>
    <p id="dow_tip_pro" style="text-align: center"></p>
    <!-- 下载进度条 -->
    <progress id="pros" class="uk-progress"></progress>
  </div>
</div>

<!--被冻结文件展示模态框-->
<div id="modal-ListFreezeFiles" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <P>该页以下文件因违反宙斯存储规定被冻结，有疑问请联系管理员</P>
    <table id="FreezeFiles" class="uk-table uk-table-hover uk-table-divider">
      <thead>
      <tr>
        <th>文件名</th>
      </tr>
      </thead>
    </table>
    <p class="uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close" type="button" onclick="NoTipAgain()">不再提醒</button>
      <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1346948628&site=qq&menu=yes"> <button id="update" class="uk-button uk-button-primary " type="button">有异议，联系管理员</button></a>

    </p>
  </div>
</div>

</body>


<script lang="javascript">

  // 文件上传jquery验证
  //限制上传文件的类型和大小
  function validate_img(ele){
    // 返回 KB，保留小数点后两位
    //alert((ele.files[0].size/(1024*1024)).toFixed(2));
    var file = ele.value;


    $("#uploadBtn").remove("disabled")
  }

  // 文件上传进度条喧嚷回调函数
  function processAction(e) {
    console.log(e);
    //loaded代表上传了多少
    //total代表总数为多少
    var progressRate = (e.loaded / e.total) * 100 + '%';

    //通过设置进度条的宽度达到效果
    $('.progress > div').css('width', progressRate);
  }

  // 判断对象是否为json
  function isJSON(str) {
    if (typeof str == 'string') {
      try {
        var obj=JSON.parse(str);
        if(typeof obj == 'object' && obj ){
          return true;
        }else{
          return false;
        }

      } catch(e) {
        console.log('error：'+str+'!!!'+e);
        return false;
      }
    }
    console.log('It is not a string!')
  }

  var resp

  //文件上传
  function onUpload() {

    // 设置文件上传大小限制
    var maxSize = 100000;//文件上传大小限制，单位kb
    var size = document.getElementById('file').files[0].size;
    var filesize = (size / 1024).toFixed(2);

    // 设置文件上传类型限制
    var filepath=$("input[id='file']").val();
    var extStart=filepath.lastIndexOf(".");
    var ext=filepath.substring(extStart,filepath.length).toUpperCase();

    // 设置文件上传链接路径相关
    var upUrl = "/filebackend/upload?" + queryParams();
    var upEntry = localStorage.getItem("uploadEntry");
    if (upEntry != null ) {
      if (upEntry.indexOf("http:")>=0) {
        upUrl = upEntry + "/filebackend/upload?" + queryParams();
      } else {
        upUrl = "http://" + upEntry + "/filebackend/upload?" + queryParams();
      }
    }
    var formData = new FormData();
    formData.append("file",$("#file")[0].files[0]);

    console.log(ext)

    // // 设置允许上传通过的文件类型
    // var Types=new Array(".JPG",".PNG",".JPEG")

    // if (filesize < maxSize && (ext ==".PPTX" || ext==".PDF" || ext==".TXT" || ext==".PNG" || ext==".JPG" || ext==".JPEG" || ext==".MP4" || ext==".EXE")){
    if (filesize < maxSize){
      $.ajax({
        url: upUrl,
        type: 'POST',
        cache: false,
        data: formData,
        processData: false,
        contentType: false,
        xhr: function() {
          var xhr = new XMLHttpRequest();
          //使用XMLHttpRequest.upload监听上传过程，注册progress事件，打印回调函数中的event事件
          xhr.upload.addEventListener('progress',processAction )
          return xhr;
        },
        error: function (error) {
         alert(error)
        },
        success: function (response) {
          if (isJSON(response)){
            resp = JSON.parse(response)
            if (resp.code == -1){
              UIkit.notification({message: response.msg, status: 'danger'})
            }
          }else {
            UIkit.notification({message: '文件上传成功！', status: 'success'})
            setTimeout(function(){
              window.location.reload()
            }, 1000);
          }
        }
      });
    }else if (filesize >= maxSize) {
      UIkit.notification({message: '上传文件不允许大于' + maxSize + 'KB', status: 'danger'})
    }
    // }else if(ext!=".PPTX"&&ext!=".PDF"&&ext!=".TXT"&&ext!=".PNG"&&ext!=".JPG"&&ext!=".JPEG"){
    //   UIkit.notification({message: '不支持上传该文件类型！', status: 'danger'})
    //   alert("仅支持上传ppt、pdf、txt、和图片"); //检测允许的上传文件类型
    // }
  }

  function toIndex() {
    // window.location.href = '/file/upload?' + queryParams();
    sessionStorage.clear();
    localStorage.clear();
    window.location.href = "/static/view/signin.html";
  }

  //更新用户信息
  $("#update").click(function () {
    username = $("#realusername").val();
    email = $("#ModalEmail").val();
    phone = $("#ModalPhone").val();
    pwd = $("#newpwd").val();
    $.ajax({
      url: "/user/update?" + queryParams(),
      type:"POST",
      data: {
        username:username,
        email:email,
        phone:phone,
        password:pwd
      },
      error:function (error) {
        alert(error)
      },
      success:function (data) {
        console.log(data)
        if (data == "SUCCESS WITH PWD"){
          UIkit.notification({message: '您修改过密码！需重新登录！', status: 'danger'})
          setTimeout(function(){
            window.location.href = "/static/view/signin.html";
          }, 2000);
        }else if (data == "SUCCESS WITHOUT PWD"){
          UIkit.notification({message: '信息更新成功！', status: 'success'})
          setTimeout(function(){
            location.reload()
          }, 1000);
        }else {
          UIkit.notification({message: '信息更新失败！', status: 'danger'})
        }
      }
    });
  });

  // 设置当前用户文件总数全局变量---辅助分页
  var FileTotal

  window.onload = function () {
    var username = document.getElementById('username');
    $.ajax({
      url: "/user/info?" + queryParams(),
      type: "POST",
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(errorThrown)
        if (textStatus == "error") {
          if (errorThrown == "Forbidden")
            UIkit.notification({message:
                      '登录失效！请重新登录网站！', status: 'danger'})
          setTimeout(function(){
            window.location.href = "/static/view/signin.html";
          }, 3000);
        } else {
          UIkit.notification({message: textStatus, status: 'danger'})
        }
      },
      success: function (body, textStatus, jqXHR) {
        var resp = JSON.parse(body);
        console.log(body)
        document.getElementById("username").innerHTML = resp.data.Username;
        $("#ModalUsername").attr("value",resp.data.Username)
        var SignupAt = new Date(resp.data.SignupAt)
        document.getElementById("regtime").innerHTML = formatDate(SignupAt);
        $("#ModalRegtime").attr("value",formatDate(SignupAt))
        document.getElementById("phone").innerHTML = resp.data.Phone;
        $("#ModalPhone").attr("value",resp.data.Phone)
        document.getElementById("email").innerHTML = resp.data.Email;
        $("#ModalEmail").attr("value",resp.data.Email)
        FileTotal = resp.file_total
        updateFileList(FileTotal);
        searchBtn(resp.all_users,resp.all_files)
      }
    });
  }

  /**
   *前端页面的时间格式化函数
   */
  function checkTime(i){
    if (i<10){
      i="0" + i
    }
    return i;
  }

  function formatDate(date) {
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var weekday = date.getDate();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();

    return (year + "-" + checkTime(month) + "-" + checkTime(weekday)+" "+checkTime(hours)+":"+
            checkTime(minutes)+":"+checkTime(seconds));
  }

  function updateFileList(FileTotal) {

    // 设置文件被冻结列表
    var FreezedFiles = new Array()

    var pageIndex

    // 激活分页插件
    P.initMathod({
      params: {elemId: '#Page',total:'10',pageNum:3,pageSize:7},
      requestFunction: function () {
        //计算所需页码
        num = Math.ceil(FileTotal/7)
        // console.log(num,FileTotal)
        P.config.total = FileTotal;
        P.config.pageNum = num
        console.log(JSON.stringify(P.config));
        pageIndex = P.config.pageIndex

        // ajax异步请求过程,异步获取到的数据总条数赋值给 P.config.total

        $.ajax({
          url: "/filebackend/query?" + queryParams(),
          type: "POST",
          data: {
            PageIndex: pageIndex, // 当前点击的页码
            PageSize: 7 //每页显示的条数
          },
          error: function (err) {
            alert(JSON.stringify(err));
          },
          success: function (response) {

            // 设置相关值
            var dlHost = 'http://localhost:9090';
            var dlEntry = localStorage.getItem('downloadEntry');
            if (dlEntry != null) {
              if (dlEntry.indexOf('http:')<0) {
                dlHost = 'http://' + dlEntry;
              } else {
                dlHost = dlEntry;
              }
            }

            // 设置操作按钮

            var downloadHtml = '<button class="uk-button uk-button-primary uk-button-small"' +
                    'style="height:30px;margin:5px 3px;"'+
                    ' onClick = "downloadFile(\'{1}\',\'' + dlHost + '/filebackend/download?filehash={0}&{2}\')">下载</button>';
            var renameFileHtml = '<button class="uk-button uk-button-default uk-button-small" href="#modal-newname" uk-toggle ' +
                    'style="height:30px;margin:5px 3px;"'+
                    ' onClick = "renameFile(\'{0}\',\'{1}\',\''+dlHost+'/filebackend/update?filehash={0}&{2}\')\">重命名</button>';
            var deleteFileHtml = '<button class="uk-button uk-button-danger uk-button-small" href="#modal-delete" uk-toggle '+
                    'style="height:30px;margin:5px 3px;"'+
                    ' onClick = "deleteFile(\'{0}\',\'' + dlHost + '/filebackend/delete?filehash={0}&{1}\')">删除</button>';

            var shareFileHtml = '<button class="uk-button uk-button-primary uk-button-small"' +
                    'style="height:30px;margin:5px 3px;"'+
                    ' onClick = "shareFile(\'{1}\',\''+dlHost+'/filebackend/downloadurl?filehash={0}&{2}\')\"><span uk-icon="icon:social"><span>分享</button>';


            //给模态框表单添加验证
            $("#realusername").attr("value",localStorage.getItem("username"))
            console.log(localStorage.getItem("username"))
            $("#token").attr("value",localStorage.getItem("token"))
            console.log(localStorage.getItem("token"))

            // 序列化返回内容，转化为json数据
            response = JSON.parse(response)

            // 解析json数据，如果code为-1，则展示错误信息，否则正常展示查询数据
            if (response.code == -1){
              UIkit.notification({message: response.msg, status: 'danger'})
            }else {
              console.log(response)
              for (var i = 0; i < response.data.length; i++) {
                var x = document.getElementById('filetbl').insertRow();
                x.id=response.data[i].FileSha1+"_tr"

                cell = x.insertCell();
                cell.innerHTML =  "<a uk-tooltip="+response.data[i].FileSha1+">"
                + response.data[i].FileSha1.substring(0,10)+"...</a>";

                cell = x.insertCell();
                // 截取盘符
                Disk = response.data[i].FileAbsLocation.substring(0,response.data[i].FileAbsLocation.indexOf(":"))
                // 截取路径
                Path = response.data[i].FileAbsLocation.substring(response.data[i].FileAbsLocation.indexOf(":")+1,response.data[i].FileAbsLocation.length)
                cell.innerHTML = "<a uk-tooltip="+response.data[i].FileName+" id='"+response.data[i].FileSha1+"'" +
                        " target='_blank' href= '"+dlHost+"/"+Disk+Path+"'>"
                        + response.data[i].FileName.substring(0,10)+"...</a>";

                cell = x.insertCell();
                cell.innerHTML = response.data[i].FileSize+" KB";


                cell = x.insertCell();
                var UploadAt = new Date(response.data[i].UploadAt)
                cell.innerHTML = formatDate(UploadAt);

                cell = x.insertCell();
                var LastUpdated = new Date(response.data[i].LastUpdate);
                cell.innerHTML = formatDate(LastUpdated);

                cell = x.insertCell();
                cell.innerHTML = downloadHtml.format(response.data[i].FileSha1,response.data[i].FileName,queryParams())  +
                        renameFileHtml.format(response.data[i].FileSha1, response.data[i].FileName, queryParams())
                        + deleteFileHtml.format(response.data[i].FileSha1, queryParams())
                        +shareFileHtml.format(response.data[i].FileSha1,response.data[i].FileName, queryParams());

                // 装配被封禁文件组和置灰元素
                if (response.data[i].Status == 0){
                  FreezedFiles.push(response.data[i].FileName)
                  // 隐藏违禁数据
                  $('#'+response.data[i].FileSha1+"_tr a").attr("disabled" ,"disabled").css("pointer-events","none");;
                  $('#'+response.data[i].FileSha1+"_tr button").attr("disabled" ,"disabled");
                }

              }
            }
            // 设置表格内容
            if (FreezedFiles.length == 0){

            }else {
              for (var j=0;j<FreezedFiles.length;j++){
                var y = document.getElementById('FreezeFiles').insertRow();
                cell = y.insertCell();
                cell.innerHTML = FreezedFiles[j];
              }
              // 显示模态框
              UIkit.modal($('#modal-ListFreezeFiles')).show();
            }

          }
        });

        // 清空文件列表
        FreezedFiles=[]
        // 清空模态框表格数据
        $("#FreezeFiles tr:gt(0)").empty();
        $("#FreezeFiles tr").not(':eq(0)').empty()

        // 清除原有页面的表格数据---配合分页使用
        $("#filetbl tr:gt(0)").empty();
        $("#filetbl tr").not(':eq(0)').empty()
      }
    });
  }

  // 不再提醒逻辑
  function NoTipAgain() {
    $('#modal-ListFreezeFiles').remove()
  }

  function renameFile(filehash, filename, renameUrl) {

    // 根据当前文件名设置文件类型--免输入
    fileType = filename.substr(filename.indexOf("."),filename.length)
    $('#fileType').text(fileType)

    $("#FileName").text("当前文件名:"+filename);
    $("#renameActionButton").unbind("click").click(function () {
      newFileName=$('#renameAction').val()

      console.log(newFileName)
      if (newFileName.length <= 0) {
        UIkit.notification({message: '文件名不能为空！', status: 'danger'})
        return;
      }
      if (newFileName.indexOf(" ") >= 0 || newFileName.indexOf(".") >= 0) {
        UIkit.notification({message: '文件名不能包含非法字符<br>（例如空格 . 等）！', status: 'danger'})
        return;
      }

      // filename输入判别
      if (newFileName.indexOf("."))



      $.ajax({
        url: renameUrl + "&filename=" + newFileName+fileType,
        type: "POST",
        error: function (error) {
          alert(error);
        },
        success: function (response) {
          response = JSON.parse(response)
          if (response.code == -1){
            UIkit.notification({message: response.msg, status: 'danger'})
          }else {
            UIkit.notification({message: '文件名修改成功！', status: 'success'})
            filenameID= filehash
            $('#'+filenameID).text(newFileName+fileType)
          }
        }
      });
      UIkit.modal($('#modal-newname')).hide()
      $("#renameAction").val("");
    })
  }

  // 解析下载文件流
  function download(filename,url){
    var xmlResquest = new XMLHttpRequest();
    // 进度条渲染
    xmlResquest.onprogress = function(event){
      if (event.lengthComputable){
        var loaded = parseInt(event.loaded/event.total*100);
        // $('#pros').width(loaded);
        // $('#pros').text(loaded);
        $('#pros').attr({value : event.loaded, max : event.total}); //更新数据到进度条
        var percent = event.loaded/event.total*100;
        $('#pros').html(event.loaded + "/" + event.total+" bytes. " + percent.toFixed(2) + "%");
        $('#dow_tip_pro').html("已完成"+percent.toFixed(2) + "%")
        $('#pros').css('width', percent.toFixed(2) + "%");
      }
    }
    xmlResquest.open("POST", url, true);
    xmlResquest.setRequestHeader("Content-type", "application/json");
    // xmlResquest.setRequestHeader("Authorization", "Bearer 6cda86e3-ba1c-4737-972c-f815304932ee");
    xmlResquest.responseType = "blob";
    xmlResquest.onload = function (oEvent) {
      var content = xmlResquest.response;
      var elink = document.createElement('a');
      elink.download = filename;
      elink.style.display = 'none';
      var blob = new Blob([content]);
      elink.href = URL.createObjectURL(blob);
      document.body.appendChild(elink);
      elink.click();
      document.body.removeChild(elink);
    };
    xmlResquest.send();
  }

  function downloadFile(filename,durl) {
    $.ajax({
      url: durl,
      type: "POST",
      error: function (error) {
        UIkit.notification({message: error, status: 'danger'})
      },
      success: function (response) {
        // 重置模态框内元素
        $('#dow_tip_pro').empty()
        $('#pros').removeAttr('value')
        $('#pros').removeAttr('max')

        // 打开模态框
        UIkit.modal($('#modal-download')).show();
        // 写入下载提示
        $('#dow_tip').text("下载中请稍后...")
        download(filename,durl)
      }
    });
  }


  function deleteFile(filehash,durl) {

    $('#deleteActionButton').unbind("click").click(function () {
      $.ajax({
        url: durl,
        type: "POST",
        error: function (error) {
          alert(error)
        },

        success: function (response) {
          response =JSON.parse(response)
          if (response.code == -1){
            UIkit.notification({message: response.msg, status: 'danger'})
          }else {
            UIkit.notification({message: '文件删除成功！', status: 'success'})
            $("#"+filehash).parent().parent().remove();
          }
        }
      });
      UIkit.modal($('#modal-delete')).hide()
    })
  }

  // 文件分享
  function shareFile(filename,durl) {
    $.ajax({
      url: durl,
      type: "POST",
      error: function (error) {
        alert(error)
      },
      success: function (response) {
        response = JSON.parse(response)
        if (response.code == -1){
          UIkit.notification({message: "链接生成失败", status: 'danger'})
        }else {
          fURI="localhost:9090/static/view/FileShare.html?user="+localStorage.getItem("username")+"&filename="+filename+"&url="+response.data
          Copy(fURI);
        }
      }
    });
  }

  // 复制函数
  function Copy(str) {
    var save = function(e) {
      e.clipboardData.setData('text/plain', str);
      e.preventDefault();
    };
    document.addEventListener('copy', save);
    document.execCommand('copy');
    document.removeEventListener('copy', save);
    UIkit.notification({message: "分享链接已复制到粘贴板<br>快去分享你的文件吧~", status: 'success'})
  }

  /**
   * 根据名称搜索文件js
   */
  function SearchFilesByname() {

    if ( $('#searchInput').val() == ""){
      $("#filetbBySearch").hide()
    }

    $.ajax({
      url: "/filebackend/querybyname?"+queryParams(),
      type: "POST",
      data: {
        checkname:$('#searchInput').val(),
      },
      error: function (error) {
        alert(error);
      },
      success: function (response) {
        // 设置相关值
        var dlHost = 'http://localhost:9090';
        var dlEntry = localStorage.getItem('downloadEntry');
        if (dlEntry != null) {
          if (dlEntry.indexOf('http:')<0) {
            dlHost = 'http://' + dlEntry;
          } else {
            dlHost = dlEntry;
          }
        }

        // 设置操作按钮

        var downloadHtml = '<button class="uk-button uk-button-primary uk-button-small"' +
                'style="height:30px;margin:5px 3px;"'+
                ' onClick = "downloadFile(\'{1}\',\'' + dlHost + '/filebackend/download?filehash={0}&{2}\')">下载</button>';
        var renameFileHtml = '<button class="uk-button uk-button-default uk-button-small" href="#modal-newname" uk-toggle ' +
                'style="height:30px;margin:5px 3px;"'+
                ' onClick = "renameFile(\'{0}\',\'{1}\',\''+dlHost+'/filebackend/update?filehash={0}&{2}\')\">重命名</button>';
        var deleteFileHtml = '<button class="uk-button uk-button-danger uk-button-small" href="#modal-delete" uk-toggle '+
                'style="height:30px;margin:5px 3px;"'+
                ' onClick = "deleteFile(\'{0}\',\'' + dlHost + '/filebackend/delete?filehash={0}&{1}\')">删除</button>';

        var shareFileHtml = '<button class="uk-button uk-button-primary uk-button-small"' +
                'style="height:30px;margin:5px 3px;"'+
                ' onClick = "shareFile(\'{1}\',\''+dlHost+'/filebackend/downloadurl?filehash={0}&{2}\')\"><span uk-icon="icon:social"><span>分享</button>';


        //给模态框表单添加验证
        $("#realusername").attr("value",localStorage.getItem("username"))
        console.log(localStorage.getItem("username"))
        $("#token").attr("value",localStorage.getItem("token"))
        console.log(localStorage.getItem("token"))

        // 序列化返回内容，转化为json数据
        response = JSON.parse(response)

        // 解析json数据，如果code为-1，则展示错误信息，否则正常展示查询数据
        if (response.code == -1){
          UIkit.notification({message: response.msg, status: 'danger'})
        }else {
          console.log(response)
          for (var i = 0; i < response.data.length; i++) {
            var x = document.getElementById('filetbBySearch').insertRow();
            x.id=response.data[i].FileSha1+"_tr"

            cell = x.insertCell();
            cell.innerHTML =  "<a uk-tooltip="+response.data[i].FileSha1+">"
                    + response.data[i].FileSha1.substring(0,10)+"...</a>";

            cell = x.insertCell();
            // 截取盘符
            Disk = response.data[i].FileAbsLocation.substring(0,response.data[i].FileAbsLocation.indexOf(":"))
            // 截取路径
            Path = response.data[i].FileAbsLocation.substring(response.data[i].FileAbsLocation.indexOf(":")+1,response.data[i].FileAbsLocation.length)
            cell.innerHTML = "<a uk-tooltip="+response.data[i].FileName+" id='"+response.data[i].FileSha1+"'" +
                    " target='_blank' href= '"+dlHost+"/"+Disk+Path+"'>"
                    + response.data[i].FileName.substring(0,10)+"...</a>";

            cell = x.insertCell();
            cell.innerHTML = response.data[i].FileSize+" KB";


            cell = x.insertCell();
            var UploadAt = new Date(response.data[i].UploadAt)
            cell.innerHTML = formatDate(UploadAt);

            cell = x.insertCell();
            var LastUpdated = new Date(response.data[i].LastUpdate);
            cell.innerHTML = formatDate(LastUpdated);

            cell = x.insertCell();
            cell.innerHTML = downloadHtml.format(response.data[i].FileSha1,response.data[i].FileName,queryParams())  +
                    renameFileHtml.format(response.data[i].FileSha1, response.data[i].FileName, queryParams())
                    + deleteFileHtml.format(response.data[i].FileSha1, queryParams())
                    +shareFileHtml.format(response.data[i].FileSha1,response.data[i].FileName, queryParams());

            // 装配被封禁文件组和置灰元素
            if (response.data[i].Status == 0){
              FreezedFiles.push(response.data[i].FileName)
              // 隐藏违禁数据
              $('#'+response.data[i].FileSha1+"_tr").hide()
            }

          }
        }
        // 设置表格内容
        for (var j=0;j<FreezedFiles.length;j++){
          var y = document.getElementById('FreezeFiles').insertRow();
          cell = y.insertCell();
          cell.innerHTML = FreezedFiles[j];
        }



        // // 显示模态框
        // UIkit.modal($('#modal-ListFreezeFiles')).show();
      }
    });
    // 清除原有页面的表格数据
    $("#filetbBySearch tr:gt(0)").empty();
    $("#filetbBySearch tr").not(':eq(0)').empty()
  }

</script>

</html>