<!DOCTYPE html>
<html>
<head>
  <title>宙斯云盘主页</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/uikit.min.css" />
  <script src="../js/uikit.min.js"></script>
  <script src="../js/uikit-icons.min.js"></script>
  <script src="/static/js/auth.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .header{
      width: 100%;
      height: 15%;
      background-color: #f8f8f8;
      border-bottom: 1px solid #96c2f1;
    }
    #warp{
      height: 85%;
      width: 100%;
      display: flex;
    }
    .lefter{
      width: 15%;
      background-color: #f8f8f8;
      border-right: 1px solid #96c2f1;
    }
    .righter{
      width: 85%;
      float: left;
      background-color: #f8f8f8;
    }
    .logo{
      height: 100%;
    }
    .uk-table td{
      vertical-align: middle !important;
    }
  </style>
</head>
<body>

<!--头部logo以及标题div-->
<nav class="uk-navbar-container uk-margin header" uk-navbar style="margin-bottom: 0px;background-color: #f8f8f8;">
  <div class="uk-navbar-left">
    <img class="logo" src="http://img.mp.itc.cn/upload/20170724/cf678e09eb384401aa616ba134126357_th.jpg">
    <ul class="uk-navbar-nav">
      <li>
        <a href="#">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
          宙斯云盘
        </a>
      </li>
    </ul>
    <div class="uk-navbar-item">
      <form action="javascript:void(0)">
        <input class="uk-input uk-form-width-large" type="text" placeholder="找不到，搜一下？">
        <button class="uk-button uk-button-primary" uk-toggle="target: #offcanvas-usage">宙斯sou一下~</button>
      </form>
    </div>
    <button class="uk-button uk-button-primary" href="#modal-upload" uk-toggle style="float: right;margin-right: 30px;">上传文件</button>
  </div>
</nav>
<!--上传文件模态框-->
<div id="modal-upload" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div style="width:100%;height:100%;margin:0 0 10px 0;text-align: center;">
      <div style="font-size:20px;font-weight:bold;color:#ddd;
      margin:0;padding-top:3px;background:#383e4b;height:40px;">
        文件上传
      </div>
      <div class="uk-margin" uk-margin>
          <div uk-form-custom="target: true">
            <input id="file" name="file" type="file">
            <input class="uk-input uk-form-width-medium" type="text" placeholder="选择文件" disabled>
          </div>
          <button class="uk-button uk-button-default" onclick="onUpload()">上传</button>
      </div>
    </div>
  </div>
</div>

<!--搜索结果抽屉 -->
<div id="offcanvas-usage" uk-offcanvas>
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <h3>宙斯SOU</h3>

    <p>抱歉，未找到您想搜索的东西</p>

  </div>
</div>

<div id="warp">
  <!--左部昵称信息头像div-->
  <div class="lefter">
    <dl class="uk-description-list uk-description-list-divider">

      <div class="uk-card">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="http://b-ssl.duitang.com/uploads/item/201704/10/20170410095843_SEvMy.thumb.700_0.jpeg">
            </div>
            <div class="uk-width-expand">
              <h3 id="username" class="uk-card-title uk-margin-remove-bottom"></h3>
              <p class="uk-text-meta uk-margin-remove-top"><span class="uk-label uk-label-danger">VIP</span></p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <span class="uk-label uk-label-success">注册时间</span>
          <dd id="regtime"></dd>
          <hr class="uk-divider-icon">
          <span class="uk-label uk-label-success">电话</span>
          <dd id="phone"></dd>
          <hr class="uk-divider-icon">
          <span class="uk-label uk-label-success">邮箱</span>
          <dd id="email"></dd>
        </div>
        <div class="uk-card-footer">
          <button class="uk-button uk-button-primary uk-margin-small-bottom" href="#modal-change" uk-toggle>修改信息</button>
          <button class="uk-button uk-button-primary uk-margin-small-bottom" onclick="toIndex()">退出登录</button>
        </div>
      </div>


    </dl>
  </div>

  <!--右部文件信息及操作div-->
  <div class="righter">
    <table id="filetbl" class="uk-table uk-table-hover uk-table-divider">
      <thead>
      <tr>
        <th>文件名</th>
        <th>文件大小</th>
        <th>上传时间</th>
        <th>最近更新</th>
        <th>文件操作</th>
      </tr>
      </thead>
    </table>

    <!--下载提示模态框-->
    <div id="modal-download" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <p id="downloadAction">文件即将下载自......</p>
      </div>
    </div>

    <!--重命名模态框-->
    <div id="modal-newname" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <div class="uk-margin">
          <p id="FileName">当前文件名</p>
          <input id="renameAction" class="uk-input" type="text" placeholder="请输入新的文件名">
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
          <button id="renameActionButton" class="uk-button uk-button-primary " type="button">确定</button>
        </p>
      </div>
    </div>

    <!--删除确认模态框-->
    <div id="modal-delete" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <P>确认删除吗？</P>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
          <button id="deleteActionButton" class="uk-button uk-button-primary " type="button">确定</button>
        </p>
      </div>
    </div>

    <!--修改信息模态框-->
    <div id="modal-change" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <!--用户名-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">昵称</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input id="ModalUsername" class="uk-input" type="text" disabled="disabled">
            <input id="realusername" type="hidden">
          </div>
        </div>
        <!--注册时间-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">时间</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: calendar"></span>
            <input id="ModalRegtime" class="uk-input" type="text" disabled="disabled">
          </div>
        </div>
        <!--密码-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">密码</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input id="newpwd" class="uk-input" type="text">
          </div>
        </div>
        <!--电话-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">电话</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: receiver"></span>
            <input id="ModalPhone" class="uk-input" type="text">
          </div>
        </div>
        <!--邮箱-->
        <div class="uk-margin">
          <span class="uk-label uk-label-success">邮箱</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input id="ModalEmail" class="uk-input" type="text">
          </div>
        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-default uk-modal-close" type="button">取消</button>
          <button id="update" class="uk-button uk-button-primary " type="button">确定</button>
        </p>
      </div>
    </div>
  </div>
</div>
</body>


<script lang="javascript">

  //文件上传
  function onUpload() {
    var upUrl = "/file/upload?" + queryParams();
    var upEntry = localStorage.getItem("uploadEntry");
    if (upEntry != null ) {
      if (upEntry.indexOf("http:")>=0) {
        upUrl = upEntry + "/file/upload?" + queryParams();
      } else {
        upUrl = "http://" + upEntry + "/file/upload?" + queryParams();
      }
    }
    var formData = new FormData();
    formData.append("file",$("#file")[0].files[0]);
    $.ajax({
      url: upUrl,
      type: 'POST',
      cache: false,
      data: formData,
      processData: false,
      contentType: false,
      error: function (err) {
        alert('请求报错信息: ' + JSON.stringify(err));
      },
      success: function (res) {
        UIkit.notification({message: '文件上传成功！', status: 'success'})
        setTimeout(function(){
          window.location.href = "/static/view/home.html";
        }, 2000);
      }
    });
  }

  function toIndex() {
    // window.location.href = '/file/upload?' + queryParams();
    sessionStorage.clear();
    localStorage.clear();
    window.location.href = "/static/view/signin.html";
  }

  //更新用户信息
  $("#update").click(function () {
    username = $("#realusername").val();
    email = $("#ModalEmail").val();
    phone = $("#ModalPhone").val();
    pwd = $("#newpwd").val();
    $.ajax({
      url: "/user/update?" + queryParams(),
      type:"POST",
      data: {
        username:username,
        email:email,
        phone:phone,
        password:pwd
      },
      error:function (error) {
        alert(error)
      },
      success:function (data) {
        console.log(data)
        if (data == "SUCCESS WITH PWD"){
          UIkit.notification({message: '您修改过密码！需重新登录！', status: 'danger'})
          setTimeout(function(){
            window.location.href = "/static/view/signin.html";
          }, 2000);
        }else if (data == "SUCCESS WITHOUT PWD"){
          UIkit.notification({message: '信息更新成功！', status: 'success'})
          setTimeout(function(){
            location.reload()
          }, 1000);
        }else {
          UIkit.notification({message: '信息更新失败！', status: 'danger'})
        }
      }
    });
  });

  window.onload = function () {
    var username = document.getElementById('username');
    $.ajax({
      url: "/user/info?" + queryParams(),
      type: "POST",
      error: function (jqXHR, textStatus, errorThrown) {
        if (textStatus == "error") {
          if (errorThrown == "Forbidden")
            UIkit.notification({message: '请先登录本系统！', status: 'danger'})
            setTimeout(function(){
              window.location.href = "/static/view/signin.html";
            }, 1000);
        } else {
          UIkit.notification({message: textStatus, status: 'danger'})
        }
      },
      success: function (body, textStatus, jqXHR) {
        var resp = JSON.parse(body);
        document.getElementById("username").innerHTML = resp.data.Username;
        $("#ModalUsername").attr("value",resp.data.Username)
        var SignupAt = new Date(resp.data.SignupAt)
        document.getElementById("regtime").innerHTML = formatDate(SignupAt);
        $("#ModalRegtime").attr("value",formatDate(SignupAt))
        document.getElementById("phone").innerHTML = resp.data.Phone;
        $("#ModalPhone").attr("value",resp.data.Phone)
        document.getElementById("email").innerHTML = resp.data.Email;
        $("#ModalEmail").attr("value",resp.data.Email)

        updateFileList();
      }
    });
  }

  /**
   *前端页面的时间格式化函数
   */
  function checkTime(i){
    if (i<10){
      i="0" + i
    }
    return i;
  }

  function formatDate(date) {
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var weekday = date.getDate();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();

    return (year + "-" + checkTime(month) + "-" + checkTime(weekday)+" "+checkTime(hours)+":"+
            checkTime(minutes)+":"+checkTime(seconds));
  }

  function updateFileList() {
    $.ajax({
      url: "/file/query?" + queryParams(),
      type: "POST",
      data: {
        limit: 15
      },
      error: function (err) {
        alert(JSON.stringify(err));
      },
      success: function (body) {
        if (!body) {
          return;
        }
        var data = body;
        if (!data || data.length <= 0) {
          return;
        }

        var dlHost = 'http://localhost:9090';
        var dlEntry = localStorage.getItem('downloadEntry');
        if (dlEntry != null) {
          if (dlEntry.indexOf('http:')<0) {
            dlHost = 'http://' + dlEntry;
          } else {
            dlHost = dlEntry;
          }
        }



        var downloadHtml = '<button class="uk-button uk-button-primary uk-button-small" href="#modal-download" uk-toggle ' +
                'style="height:30px;margin:5px 3px;"'+
                ' onClick = "downloadFile(\'' + dlHost + '/file/downloadurl?filehash={0}&{1}\')">下载</button>';
        var renameFileHtml = '<button class="uk-button uk-button-default uk-button-small" href="#modal-newname" uk-toggle ' +
                'style="height:30px;margin:5px 3px;"'+
                ' onClick = "renameFile(\'{0}\',\'{1}\',\''+dlHost+'/file/update?op=2&filehash={2}&{3}\')\">重命名</button>';
        var deleteFileHtml = '<button class="uk-button uk-button-danger uk-button-small" href="#modal-delete" uk-toggle '+
                'style="height:30px;margin:5px 3px;"'+
                ' onClick = "deleteFile(\'{0}\',\'' + dlHost + '/file/delete?filehash={0}&{1}\')">删除</button>';


        //给模态框表单添加验证
        $("#realusername").attr("value",localStorage.getItem("username"))
        console.log(localStorage.getItem("username"))
        $("#token").attr("value",localStorage.getItem("token"))
        console.log(localStorage.getItem("token"))

        data = JSON.parse(data)
        console.log(data)
        for (var i = 0; i < data.length; i++) {
          var x = document.getElementById('filetbl').insertRow();
          // var cell = x.insertCell();
          // cell.innerHTML = data[i].FileHash.substr(0, 20) + "...";

          cell = x.insertCell();
          fileShowURL = dlHost+"/static/files/"+data[i].RealName;
          cell.innerHTML = "<a uk-tooltip="+data[i].FileName+" id='"+data[i].FileHash+"' target='_blank' href= "+fileShowURL+">"+ data[i].FileName.substring(0,50)+"</a>";

          cell = x.insertCell();
          cell.innerHTML = data[i].FileSize+" KB";


          cell = x.insertCell();
          var UploadAt = new Date(data[i].UploadAt)
          cell.innerHTML = formatDate(UploadAt);

          cell = x.insertCell();
          var LastUpdated = new Date(data[i].LastUpdated);
          cell.innerHTML = formatDate(LastUpdated);

          cell = x.insertCell();
          cell.innerHTML = downloadHtml.format(data[i].FileHash, queryParams())  +
                  renameFileHtml.format(data[i].FileHash, data[i].FileName, data[i].FileHash,
                          queryParams())
                  + deleteFileHtml
                          .format(data[i].FileHash, queryParams());
        }

      }
    });
  }

  function renameFile(filehash, filename, renameUrl) {
    $("#FileName").text("当前文件名:"+filename);
    $("#renameActionButton").unbind("click").click(function () {
      newFileName=$('#renameAction').val()

      console.log(newFileName)
      if (newFileName.length <= 0) {
        UIkit.notification({message: '文件名不能为空！', status: 'danger'})
        return;
      }
      if (newFileName.indexOf(" ") >= 0) {
        UIkit.notification({message: '文件名不能包含空格！', status: 'danger'})
        return;
      }
      $.ajax({
        url: renameUrl + "&filename=" + newFileName,
        type: "POST",
        error: function (msg) {
          alert(JSON.stringify(msg));
        },
        success: function (body) {
          console.log(body)
          UIkit.notification({message: '文件名修改成功！', status: 'success'})
          filenameID= filehash
          $('#'+filenameID).text(newFileName)
        }
      });
      UIkit.modal($('#modal-newname')).hide()
      $("#renameAction").val("");
    })
  }

  function download(url){
    try {
      var elemIF = document.createElement("iframe");
      elemIF.src = url;
      elemIF.style.display = "none";
      document.body.appendChild(elemIF);
    } catch (e) {
      alert("下载异常！");
    }
  }

  function downloadFile(durl) {
    $.ajax({
      url: durl,
      type: "POST",
      error: function (jqXHR, textStatus, errorThrown) {
        if (textStatus == "error") {
          mes = textStatus + " : " + errorThrown
          UIkit.notification({message: mes, status: 'danger'})
        } else {
          UIkit.notification({message: textStatus, status: 'danger'})
        }
      },
      success: function (body, textStatus, jqXHR) {
        try {
          document.getElementById("downloadAction").innerHTML = "文件即将下载自:<br>"+body;
          setTimeout(function(){
            download(body)
          }, 2000);
        } catch (e) {
          alert(e);
        }
      }
    });
  }


  function deleteFile(filehash,durl) {

    $('#deleteActionButton').unbind("click").click(function () {
      $.ajax({
        url: durl,
        type: "POST",
        error: function (jqXHR, textStatus, errorThrown) {
          if (textStatus == "error") {
            mes = textStatus + " : " + errorThrown
            UIkit.notification({message: mes, status: 'danger'})
          } else {
            UIkit.notification({message: textStatus, status: 'danger'})
          }
        },
        success: function (body, textStatus, jqXHR) {
          UIkit.notification({message: '文件删除成功！', status: 'success'})
          $("#"+filehash).parent().parent().remove();
        }
      });
      UIkit.modal($('#modal-delete')).hide()
    })
  }
</script>

</html>