<html>

<head>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>

  <script src="/static/js/auth.js"></script>
</head>

<body style="width:100%;height:100%">
<div style="width:100%;height:100%;margin:0 0 10px 0;text-align: center;">
  <div style="font-size:20px;font-weight:bold;
                margin:0;background: rgb(195, 228, 250);height:32px;">
    宙斯云盘
  </div>
  <table style="height:100%;width:100%;text-align: left;border-width: 2px; border-color: lightslategrey;">
    <tbody>
    <tr style="margin-bottom: 20px;">
      <td style="width:10%;height: 100%;background: lightsteelblue;">
        <div style="text-align: top;height:20%;margin: 10px 0 0 10px;">
          <img style="width:80px;height:80px;" src="/static/img/avatar.jpeg"></img><br>
          用户名: <p id="username" style="color: seagreen"></p>
          注册时间: <p id="regtime" style="color: seagreen"></p>
          电话: <p id="phone" style="color: seagreen"></p>
          邮箱: <p id="email" style="color: seagreen"></p>
          <button class="btn  btn-primary" data-toggle="modal" data-target="#UpdateInfoModal">修改个人信息</button><br><br>
          <button class="btn  btn-primary" onclick="toIndex()">退出登录</button><br><br>
        </div>
        <!--修改信息模态框-->
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="UpdateInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  修改你的个人信息
                </h4>
              </div>
              <div class="modal-body">
                <form action="/user/update" id="updateform" method="post" class="bs-example bs-example-form" role="form">
                  <div class="input-group">
                    <span class="input-group-addon">用户名（不可修改）</span>
                    <input id="ModalUsername" class="form-control" disabled="true">
                    <input id="realusername" name="username" hidden="hidden">
                  </div><br>
                  <input id="token" name="token" hidden="hidden">
                  <div class="input-group">
                    <span class="input-group-addon">注册时间</span>
                    <input id="ModalRegtime" type="text" class="form-control" disabled="true">
                  </div><br>
                  <div class="input-group">
                    <span class="input-group-addon">输入新密码</span>
                    <input id="newpwd" type="text" name="password" class="form-control" value="">
                  </div><br>
                  <div class="input-group">
                    <span class="input-group-addon">电话</span>
                    <input id="ModalPhone" name="phone" type="text" class="form-control" value="">
                  </div><br>
                  <div class="input-group">
                    <span class="input-group-addon">邮箱</span>
                    <input id="ModalEmail" name="email" type="text" class="form-control" value="">
                  </div><br>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="submit" class="btn btn-primary" onclick="return update_info()">
                  保存更改
                </button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal -->
        </div>


        <div style="height: 80%;"></div>
      </td>
      <td style="width: 3px;height:100%;">
        <div style="width:100%;height: 100%;background:rgb(202, 157, 248);"></div>
      </td>
      <td style="text-align: top;">
        <div>文件列表
          <button class="btn btn-success" onclick="toUploadFile()" style="float: right;margin-right: 30px;">上传文件
          </button>
          <div style="width:100%;height: 1px;background:rgb(202, 157, 248);margin-top: 15px;"></div>
        </div>
        <div style="height:95%;" style="width:100%;">
          <table id="filetbl" style="margin-left:3%;width:96%;">
            <thead style="height:50px;border:1px;">
            <tr style="height:50px;border:1px;">
              <th>文件名</th>
              <th>文件大小</th>
              <th>上传时间</th>
              <th>最近更新</th>
              <th>操作</th>
            </tr>
            </thead>
          </table>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

<script lang="javascript">

  function toUploadFile() {
    // window.location.href = '/file/upload?' + queryParams();
    window.location.href = "/static/view/upload.html";
  }

  function toIndex() {
    // window.location.href = '/file/upload?' + queryParams();
    window.location.href = "/static/view/signin.html";
  }

  //更新用户信息
  function update_info()
  {
    var newpassword = document.getElementById('newpwd').value;

    console.log(newpassword)
    if(newpassword.length >=5 ){
      var form = document.getElementById('updateform');
      form.submit();
    }else{
      alert("密码长度不得少于5，请重新输入！")
      return false;
    }
  }

  window.onload = function () {
    var username = document.getElementById('username');
    $.ajax({
      url: "/user/info?" + queryParams(),
      type: "POST",
      error: function (jqXHR, textStatus, errorThrown) {
        if (textStatus == "error") {
          alert(textStatus + " : " + errorThrown);
        } else {
          alert(textStatus);
        }
      },
      success: function (body, textStatus, jqXHR) {
        var resp = JSON.parse(body);
        document.getElementById("username").innerHTML = resp.data.Username;
        $("#ModalUsername").attr("value",resp.data.Username)
        var SignupAt = new Date(resp.data.SignupAt)
        document.getElementById("regtime").innerHTML = formatDate(SignupAt);
        $("#ModalRegtime").attr("value",formatDate(SignupAt))
        document.getElementById("phone").innerHTML = resp.data.Phone;
        $("#ModalPhone").attr("value",resp.data.Phone)
        document.getElementById("email").innerHTML = resp.data.Email;
        $("#ModalEmail").attr("value",resp.data.Email)

        updateFileList();
      }
    });
  }

  /**
   *前端页面的时间格式化函数
   */
  function checkTime(i){
    if (i<10){
      i="0" + i
    }
    return i;
  }

  function formatDate(date) {
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var weekday = date.getDate();
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var seconds = date.getSeconds();

    return (year + "-" + checkTime(month) + "-" + checkTime(weekday)+" "+checkTime(hours)+":"+
            checkTime(minutes)+":"+checkTime(seconds));
  }

  function updateFileList() {
    $.ajax({
      url: "/file/query?" + queryParams(),
      type: "POST",
      data: {
        limit: 15
      },
      error: function (err) {
        alert(JSON.stringify(err));
      },
      success: function (body) {
        if (!body) {
          return;
        }
        var data = body;
        if (!data || data.length <= 0) {
          return;
        }

        var dlHost = 'http://localhost:8080';
        var dlEntry = localStorage.getItem('downloadEntry');
        if (dlEntry != null) {
          if (dlEntry.indexOf('http:')<0) {
            dlHost = 'http://' + dlEntry;
          } else {
            dlHost = dlEntry;
          }
        }

        var downloadHtml = '<button class="btn btn-info" ' +
                'style="height:30px;margin:5px 3px;"' +
                'onClick = "downloadFile(\'' + dlHost + '/file/downloadurl?filehash={0}&{1}\')">下载</button>';
        var renameFileHtml = '<button class="btn btn-warning" ' +
                'style="height:30px;margin:5px 3px;"' +
                'onClick = "renameFile(\'{0}\',\'{1}\',\''+dlHost+'/file/' +
                'update?op=2&filehash={2}&{3}\')">重命名</button>';
        var deleteFileHtml = '<button class="btn btn-danger" ' +
                'style="height:30px;margin:5px 3px;"' +
                'onClick = "deleteFile(\'' + dlHost + '/file/delete?filehash={0}&{1}\')">删除</button>';


        //给模态框表单添加验证
        $("#realusername").attr("value",localStorage.getItem("username"))
        console.log(localStorage.getItem("username"))
        $("#token").attr("value",localStorage.getItem("token"))
        console.log(localStorage.getItem("token"))

        data = JSON.parse(data)
        console.log(data)
        for (var i = 0; i < data.length; i++) {
          var x = document.getElementById('filetbl').insertRow();
          // var cell = x.insertCell();
          // cell.innerHTML = data[i].FileHash.substr(0, 20) + "...";

          cell = x.insertCell();
          fileShowURL = dlHost+"/static/files/"+data[i].RealName;
          cell.innerHTML = "<a target='_blank' href= "+fileShowURL+">"+ data[i].FileName+"</a>";

          cell = x.insertCell();
          cell.innerHTML = data[i].FileSize+" KB";


          cell = x.insertCell();
          var UploadAt = new Date(data[i].UploadAt)
          cell.innerHTML = formatDate(UploadAt);

          cell = x.insertCell();
          var LastUpdated = new Date(data[i].LastUpdated);
          cell.innerHTML = formatDate(LastUpdated);

          cell = x.insertCell();
          cell.innerHTML = downloadHtml.format(data[i].FileHash, queryParams()) + deleteFileHtml
                          .format(data[i].FileHash, queryParams()) +
                  renameFileHtml.format(data[i].FileHash, data[i].FileName, data[i].FileHash,
                          queryParams());
        }

      }
    });
  }

  function renameFile(filehash, filename, renameUrl) {
    var newFileName = prompt("\n当前文件名: {0}\n\n请输入新的文件名: ".format(filename));
    newFileName = newFileName.trim();

    if (newFileName.length <= 0) {
      alert("文件名不能为空");
      return;
    }

    if (newFileName.indexOf(" ") >= 0) {
      alert("文件名不能包含空格");
      return;
    }

    xhr = new XMLHttpRequest()

    $.ajax({
      url: renameUrl + "&filename=" + newFileName,
      type: "POST",
      error: function (msg) {
        console.log(JSON.stringify(msg))
        alert(JSON.stringify(msg));
      },
      success: function (body) {
        console.log(body)
        alert("文件名修改成功");
        window.location.href = '/static/view/home.html';
      }
    });
  }

  function downloadFile(durl) {
    $.ajax({
      url: durl,
      type: "POST",
      error: function (jqXHR, textStatus, errorThrown) {
        if (textStatus == "error") {
          alert(textStatus + " : " + errorThrown);
        } else {
          alert(textStatus);
        }
      },
      success: function (body, textStatus, jqXHR) {
        try {
          alert("文件即将下载自: " + body);
          var elemIF = document.createElement("iframe");
          elemIF.src = body;
          elemIF.style.display = "none";
          document.body.appendChild(elemIF);
        } catch (e) {
          alert(e);
        }
      }
    });
  }


  function deleteFile(durl) {
    $.ajax({
      url: durl,
      type: "POST",
      error: function (jqXHR, textStatus, errorThrown) {
        if (textStatus == "error") {
          alert(textStatus + " : " + errorThrown);
        } else {
          alert(textStatus);
        }
      },
      success: function (body, textStatus, jqXHR) {
        alert("文件删除成功");
        window.location.href = '/static/view/home.html'
      }
    });
  }
</script>

</html>