<!DOCTYPE html>
<html>
<head>
  <title>宙斯云盘登录</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/uikit.min.css" />
  <script src="../js/uikit.min.js"></script>
  <script src="../js/uikit-icons.min.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .signindiv{
      width: 500px;
      height: 500px;
      margin: 0 auto;
      /* background-color: blanchedalmond; */
      position: relative;
      top: 45%; /*偏移*/
      transform: translateY(-50%);
    }
    .signindiv .logo{
      width: 200px;
      height: 200px;
      margin: 0 auto;

    }
    .signindiv .form{
      margin: 0 auto;
      text-align: center;
    }
  </style>
</head>
<body>

<!-- 登录框开始 -->
<div class="signindiv">


  <!--背景开始-->
  <div>
    <div class="uk-background-muted uk-padding uk-panel">
      <!--logo开始-->
      <div class="logo">
        <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3477754960,2654242643&fm=26&gp=0.jpg">
      </div>
      <!--logo结束-->
      <div class="form">
        <h1 class="uk-heading-line uk-text-center"><span style="font-size: 20px;">宙斯云盘-登录</span></h1>
        <!--用户名密码框开始-->
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" id="username" type="text" placeholder="请输入用户名">
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" id="password" type="password" placeholder="请输入密码">
          </div>
        </div>
        <!--用户名密码框结束-->

        <button style="width: 235px;" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" onclick="onSignin()">登录</button>
        <button style="width: 235px;" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" onclick="onSignup()">注册</button>
      </div>

    </div>
  </div>
  <!--背景结束-->
</div>
</body>
<script lang="javascript">
  function onSignin() {
    var username = document.getElementById('username');
    var password = document.getElementById('password');
    $.ajax({
      url: "/user/signin",
      type: "POST",
      data: {
        "username": username.value,
        "password": password.value
      },
      error: function (jqXHR, textStatus, errorThrown) {
        if (textStatus == "error") {
          alert(textStatus + " : " + errorThrown);
        } else {
          alert(textStatus);
        }
      },
      success: function (body, textStatus, jqXHR) {
        console.log(body)
        if (body == "FAILED"){
          UIkit.notification({message: '账号或密码错误！', status: 'danger'})
        }else {
          var resp = JSON.parse(body);
          console.log(resp)
          if (resp.data.Status == 0){
            UIkit.notification({message: '欢迎你！普通用户<br>为你跳转至云盘首页...', status: 'success'})
            localStorage.setItem("token", resp.data.Token)
            localStorage.setItem("username", resp.data.Username)
            setTimeout(function(){
              window.location.href = resp.data.Location;}, 3000);

          }else if (resp.data.Status == 7){
            UIkit.notification({message: '欢迎你！系统管理员<br>为你跳转至云盘管理后台...', status: 'success'})
            localStorage.setItem("token", resp.data.Token)
            localStorage.setItem("username", resp.data.Username)
            setTimeout(function(){
            window.location.href = resp.data.Location;}, 3000);
          }else if (resp.data.Status == 1) {
            UIkit.notification({message: '该账户已被封禁!<br>禁止登录！', status: 'danger'})
          }
        }
      }
    });
  }


  function QQSignin() {
    window.location.href="https://graph.qq.com/oauth2.0/show?which=Login&display=pc&client_id=101827468&response_type=code&redirect_uri=http://127.0.0.1:9090/qqLogin"
  }

  function onSignup() {
    window.location.href="http://localhost:9090/static/view/signup.html"
  }
</script>
</html>