<!DOCTYPE html>
<html>
<head>
  <title>宙斯云盘注册</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/uikit.min.css" />
  <script src="../js/uikit.min.js"></script>
  <script src="../js/uikit-icons.min.js"></script>
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .signindiv{
      width: 500px;
      height: 500px;
      margin: 0 auto;
      /* background-color: blanchedalmond; */
      position: relative;
      top: 40%; /*偏移*/
      transform: translateY(-50%);
    }
    .signindiv .form{
      margin: 0 auto;
      text-align: center;
    }
  </style>
</head>
<body>

<!-- 登录框开始 -->
<div class="signindiv">


  <!--背景开始-->
  <div>
    <div class="uk-background-muted uk-padding uk-panel">
      <div class="form">
        <h1 class="uk-heading-line uk-text-center"><span style="font-size: 20px;">宙斯云盘-注册</span></h1>
        <!--用户名密码框开始-->
        <div class="uk-margin">
          <span style="color: red">*</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" id="username" type="text" placeholder="用户名长度不得为空！">
          </div>
        </div>

        <div class="uk-margin">
          <span style="color: red">*</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" id="password" type="password" placeholder="密码长度不得小于5！" onkeyup="validate()">
          </div>
        </div>

        <div class="uk-margin">
          <span style="color: red">*</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input" id="passwordc" type="password" placeholder="请确认密码" onkeyup="validate()">
          </div><br>
          <!-- 密码校验信息提示 -->
          <span id="msg"></span>
        </div>


        <div class="uk-margin">
          <span style="color: red">*</span>
          <!-- 验证方式选择下拉框-->
          <select class="uk-select uk-form-width" style="width: 235px;" onchange="ChangeType()">
            <option value="请选择验证方式" selected>请选择验证方式</option>
            <option value="手机验证">手机验证</option>
            <option value="邮箱验证">邮箱验证</option>
          </select><br>
        </div>
        <!-- 控制不同验证方式出现呢不同输入框的js逻辑 -->
        <script>

          // 初始化隐藏
          window.onload=function () {
            $('#EmailInput').hide()
            $('#PhoneInput').hide()
            $('#SendEmail').hide()
            $('#SendPhone').hide()
          }

          function ChangeType() {
            var vs = $('select  option:selected').val();
            if (vs == "手机验证"){
             $('#EmailInput').hide()
              $('#SendEmail').hide()
              $('#PhoneInput').show()
              $('#SendPhone').show()
            }else {
              $('#PhoneInput').hide()
              $('#SendPhone').hide()
              $('#EmailInput').show()
              $('#SendEmail').show()
            }
          }
        </script>


        <div id="PhoneInput" class="uk-margin" style="margin-bottom: 0 !important;">
          <span style="color: red">*</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: phone"></span>
            <input id="PhoneNumber" class="uk-input" type="text" placeholder="输入手机号" onkeyup="Phonevalidate()">
          </div><br>
          <!-- 手机号校验信息提示 -->
          <span id="msg4"></span>
        </div>
        <div id="EmailInput" class="uk-margin" style="margin-bottom: 0 !important;">
          <span style="color: red">*</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input id="EmailNumber" class="uk-input" type="text" placeholder="输入邮箱号" onkeyup="Emailvalidate()">
          </div><br>
          <!-- 邮箱校验信息提示 -->
          <span id="msg3"></span>
        </div>
        <button id="SendEmail" disabled="disabled" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" style="width: 235px;margin-left: 12px" onclick="SendEmailCode()">发送邮件验证码</button>
        <button id="SendPhone" disabled="disabled" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" style="width: 235px;margin-left: 12px" onclick="SendPhoneCode()">发送手机验证码</button>
        <input id="CodeFromHandler" type="text" hidden="hidden">


        <!-- 验证码输入框 -->
        <div class="uk-margin" style="margin-top: 0 !important;">
          <span style="color: red">*</span>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: commenting"></span>
            <input id="CodeFromInput" class="uk-input" type="text" placeholder="输入收到的验证码" onkeyup="validate2()">
          </div><br>
          <!-- 验证码校验信息提示 -->
          <span id="msg2"></span>
        </div>

        <!--用户名密码框结束-->
        <button style="width: 235px;" id="signup" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" onclick="onSignup()">注册</button>
        <button style="width: 235px;" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" onclick="onSignin()">返回登录</button>
      </div>

    </div>
  </div>
  <!--背景结束-->
</div>
</body>
<script lang="javascript">
  
  // 手机号格式校验
  function Phonevalidate() {
    if($("#PhoneNumber").val().match(/^1[34578]\d{9}$/)){
      $("#msg4").html("手机号格式正确");
      $("#msg4").css("color","green");
      $("#SendPhone").removeAttr("disabled");
    }else {
      $("#msg4").html("手机号格式错误");
      $("#msg4").css("color","red")
      $("#SendPhone").attr("disabled","disabled");
    }
  }
  
  // 邮件格式校验
  function Emailvalidate() {
    if (/^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/.test($('#EmailNumber').val()) == false) {
      $("#msg3").html("邮箱格式错误");
      $("#msg3").css("color","red")
      $("#SendEmail").attr("disabled","disabled");
    } else {
      $("#msg3").html("邮箱格式正确");
      $("#msg3").css("color","green");
      $("#SendEmail").removeAttr("disabled");
    }
  }

  <!-- 验证码一致性校验 -->
  function validate2() {

    var CodeFromHandler = $("#CodeFromHandler").val();
    var CodeFromInput = $("#CodeFromInput").val();
    <!-- 对比两次输入的密码 -->
    if(CodeFromHandler == CodeFromInput && CodeFromHandler!="" && CodeFromInput!= "")
    {
      $("#msg2").html("验证码正确");
      $("#msg2").css("color","green");
      $("#signup").removeAttr("disabled");
    }else if (CodeFromHandler=="" && CodeFromInput== ""){
      $("#msg2").html("请输入验证码");
      $("#msg2").css("color","red")
      $("#signup").attr("disabled","disabled");
    }
    else {
      $("#msg2").html("验证码错误");
      $("#msg2").css("color","red")
      $("#signup").attr("disabled","disabled");
    }
  }


  <!-- 密码与确认密码一致性校验 -->
  function validate() {

    var pwd = $("#password").val();
    var pwd1 = $("#passwordc").val();
    <!-- 对比两次输入的密码 -->
    if(pwd == pwd1)
    {
      $("#msg").html("两次密码相同");
      $("#msg").css("color","green");
      $("#signup").removeAttr("disabled");
    }
    else {
      $("#msg").html("两次密码不相同");
      $("#msg").css("color","red")
      $("#signup").attr("disabled","disabled");
    }
  }

  let countdown=60;

  // 验证码倒计时
  function settime(obj) { //发送验证码倒计时
    if (countdown === 0) {
      obj.attr('disabled',false);
      //obj.removeattr("disabled");
      obj.text("发送验证码");
      countdown = 60;
      return;
    } else {
      obj.attr('disabled',true);
      obj.text("重新发送(" + countdown + ")");
      countdown--;
    }
    setTimeout(function() {
              settime(obj) }
            ,1000)
  }
  
  // 邮箱验证
  function SendEmailCode() {
    let obj = $("#SendEmail")
    settime(obj)
    UIkit.notification({message: '邮件验证码发送成功！<br>请注意查收邮件！', status: 'success'})
    setTimeout(() => {
      $.ajax({
        url: "/valide/email",
        type: "POST",
        data: {
          "emailVal":$("#EmailNumber").val()
        },
        error:function (error) {
          alert(error)
        },
        success:function (data) {
          $("#CodeFromHandler").attr({"value": data});
        }
      })
    }, 2000);
  }

  // 手机验证
  function SendPhoneCode() {
    let obj = $("#SendPhone")
    settime(obj)
    UIkit.notification({message: '手机验证码发送成功！<br>请注意查收短信！', status: 'success'})
    setTimeout(() => {
      $.ajax({
        url: "/valide/phone",
        type: "POST",
        data: {
          "phoneVal":$("#PhoneNumber").val()
        },
        error:function (error) {
          alert(error)
        },
        success:function (data) {
          $("#CodeFromHandler").attr({"value": data});
        }
      })
    }, 2000);
  }


  function onSignup() {
    var username = document.getElementById('username');
    var password = document.getElementById('password');
    var passwordc = document.getElementById('passwordc');
    var  emailNumber= document.getElementById('EmailNumber');
    var  phoneNumber= document.getElementById('PhoneNumber');
    var  codeFromInput= document.getElementById('CodeFromInput');

    // 表单空验证
    if (username.value.length==0||password.value.length==0
            ||passwordc.value.length==0||codeFromInput.value.length==0){
      UIkit.notification({message: '必填字段有空！请检查', status: 'danger'})
      return false
    }

    $.ajax({
      url: "/user/signup",
      type: "POST",
      data: {
        "username": username.value,
        "password": password.value,
        "passwordc": passwordc.value,
        "phoneNumber": phoneNumber.value,
        "emailNumber": emailNumber.value
      },
      error: function (jqXHR, textStatus, errorThrown) {
        if (textStatus == "error") {
          alert(textStatus + " : " + errorThrown);
        } else {
          alert(textStatus);
        }
      },
      success: function (data, textStatus, jqXHR) {
        if (data == 'SUCCESS') {
          // 成功后跳到登录页
          UIkit.notification({message: '注册成功，跳转至登录界面中...', status: 'success'})
          setTimeout(() => {
            window.location.href = '/static/view/signin.html';
          }, 2000);

        }else if (data == "None passwordc"){
          UIkit.notification({message: '请确认密码！', status: 'danger'})
        }else if (data == "invalid parameter"){
          UIkit.notification({message: '用户名或密码长度有误！', status: 'danger'})
        }else if (data == "Signined"){
          UIkit.notification({message: '该用户名已被注册！<br>请更换其他用户名！<br>用户名注册后不可修改！', status: 'danger'})
        }
        else {
          console.log(data)
          UIkit.notification({message: '注册失败', status: 'danger'})
        }
      }
    });
  }

  function onSignin() {
    window.location.href="http://localhost:9090/static/view/signin.html"
  }
</script>
</html>